<table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="border-collapse:collapse;margin:0;padding:0;background-color:#fafafa;min-height:100%!important;width:100%!important">
  <tbody><tr>
      <td valign="top" align="center" style="border-collapse:collapse;margin:0;padding:20px;border-top:0;min-height:100%!important;width:100%!important">

        <table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;border:1px none #bbbbbb">
          <tbody><tr>
              <td valign="top" align="center" style="border-collapse:collapse">

                <table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;background-color:#fafafa;border-top:0;border-bottom:0">
                  <tbody><tr>
                      <td valign="top" style="padding-top:9px;border-collapse:collapse"><table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse">
                          <tbody>
                            <tr>
                              <td valign="top" style="border-collapse:collapse">

                                <table width="600" cellspacing="0" cellpadding="0" border="0" align="left" style="border-collapse:collapse">
                                  <tbody><tr>

                                      <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;border-collapse:collapse;color:#808080;font-family:Helvetica;font-size:10px;line-height:150%;text-align:left">

                                        <div style="text-align:right">
                                          <a target="_blank" style="color:#606060;font-weight:normal;text-decoration:underline;word-wrap:break-word!important" href="http://us5.campaign-archive2.com/?u=34d479905576cbf2b84294e02&amp;id=11c1dad354&amp;e=">View this email in your browser</a></div>

                                      </td>
                                    </tr>
                                </tbody></table>

                              </td>
                            </tr>
                          </tbody>
                      </table></td>
                    </tr>
                </tbody></table>

              </td>
            </tr>
            <tr>
              <td valign="top" align="center" style="border-collapse:collapse">

                <table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;background-color:#fafafa;border-top:0px none;border-bottom:3px solid #bcd80a">
                  <tbody><tr>
                      <td valign="top" style="border-collapse:collapse"><table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse">
                          <tbody>
                            <tr>
                              <td valign="top" style="padding:9px;border-collapse:collapse">
                                <table width="100%" cellspacing="0" cellpadding="0" border="0" align="left" style="border-collapse:collapse">
                                  <tbody><tr>
                                      <td valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;border-collapse:collapse">


                                        <img width="155" align="left" style="max-width:155px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none" src="http://gallery.mailchimp.com/34d479905576cbf2b84294e02/images/logo_yanapana_horizontal_negro48be83.png" alt="">


                                      </td>
                                    </tr>
                                </tbody></table>
                              </td>
                            </tr>
                          </tbody>
                      </table></td>
                    </tr>
                </tbody></table>

              </td>
            </tr>
            <tr>
              <td valign="top" align="center" style="border-collapse:collapse">

                <table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;background-color:#fafafa;border-top:8px none #ffffff;border-bottom:8px none #ffffff">
                  <tbody><tr>
                      <td valign="top" style="border-collapse:collapse"><table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse">
                          <tbody>
                            <tr>
                              <td valign="top" style="border-collapse:collapse">

                                <table width="600" cellspacing="0" cellpadding="0" border="0" align="left" style="border-collapse:collapse">
                                  <tbody><tr>

                                      <td valign="top" style="padding:9px 18px;font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;border-collapse:collapse;color:#8b8b8b;font-size:14px;line-height:150%;text-align:left">

                                        <h1 style="display:block;font-family:Helvetica;font-size:26px;font-style:normal;font-weight:bold;line-height:100%;letter-spacing:normal;margin:0;text-align:left;color:#202020!important">
                                          <span style="font-size:24px"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">ARTIST CONFIRMATION</span></span></h1>
                                        <br>
                                        <h3 style="display:block;font-family:Helvetica;font-size:16px;font-style:italic;font-weight:normal;line-height:100%;letter-spacing:normal;margin:0;text-align:left;color:#606060!important">
                                          Thanks for your submission <%= @resource.email %>!</h3>
                                        <p>
                                          At YANAPANA, we are always on the look for talented artists from around the world who want to be part of our movement.<br>
                                          <br>
                                          You can <%= link_to 'Accept invitation', accept_user_invitation_url(@resource, :invitation_token => @resource.invitation_token), :style=>"color:#BCD80A;text-decoration:none;cursor:pointer;" %> through the previews link or simply ignore this email.<br>
                                          Your account won't be created until you access the link above and set your password.<br>
                                          <br>
                                          We will review your submission and get back to you shortly.<br>
                                          <br>
                                          Hugs,<br>
                                          <br>
                                          The YANAPANA Team</p>

                                      </td>
                                    </tr>
                                </tbody></table>

                              </td>
                            </tr>
                          </tbody>
                      </table></td>
                    </tr>
                </tbody></table>

              </td>
            </tr>
            <tr>
              <td valign="top" align="center" style="border-collapse:collapse">

                <table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;background-color:#fafafa;border-top:0;border-bottom:1px none #cccccc">
                  <tbody><tr>
                      <td width="33%" valign="top" align="left" style="border-collapse:collapse">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="left" style="border-collapse:collapse">
                          <tbody><tr>
                              <td valign="top" style="border-collapse:collapse"></td>
                            </tr>
                        </tbody></table>
                      </td>
                      <td width="33%" valign="top" align="left" style="border-collapse:collapse">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="left" style="border-collapse:collapse">
                          <tbody><tr>
                              <td valign="top" style="border-collapse:collapse"></td>
                            </tr>
                        </tbody></table>
                      </td>
                      <td width="33%" valign="top" align="left" style="border-collapse:collapse">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="left" style="border-collapse:collapse">
                          <tbody><tr>
                              <td valign="top" style="border-collapse:collapse"></td>
                            </tr>
                        </tbody></table>
                      </td>
                    </tr>
                </tbody></table>

              </td>
            </tr>
            <tr>
              <td valign="top" align="center" style="border-collapse:collapse">

                <table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;background-color:#fafafa;border-top:0;border-bottom:0">
                  <tbody><tr>
                      <td valign="top" style="padding-bottom:9px;border-collapse:collapse"><table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse">
                          <tbody>
                            <tr>
                              <td valign="top" style="border-collapse:collapse">

                                <table width="600" cellspacing="0" cellpadding="0" border="0" align="left" style="border-collapse:collapse">
                                  <tbody><tr>

                                      <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;border-collapse:collapse;color:#8b8b8b;font-family:Helvetica;font-size:10px;line-height:150%;text-align:left">

                                        <em>Copyright &copy; 2013 YANAPANA, All rights reserved.</em><br>
                                        <br>
                                        <strong>Our mailing address is:</strong><br>
                                        <div><span>YANAPANA</span><div><div>11149 Broaded Street</div><span>Santa Fe Springs</span>, <span>CA</span>  <span>90670</span></div><br></div>
                                        <br>
                                        <br>
                                      </td>
                                    </tr>
                                </tbody></table>

                              </td>
                            </tr>
                          </tbody>
                      </table></td>
                    </tr>
                </tbody></table>

              </td>
            </tr>
        </tbody></table>

      </td>
    </tr>
</tbody></table>
