bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
## generic files to ignore
*.lock
*.swp
*.swo
*.swn
*.out
.vagrant
config/database.yml
.redcar/
*.rbc
*.sassc
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
*~

