bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
config/database.yml
## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.swo
*.swn
*.out


.vagrant
rails
*.swp
*.swo
config/database.yml
.redcar/
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/public/uploads/*
/public/spree/*
.DS_Store
*~

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
