<div class="footer_background"></div>
<div class="footer_container">
        <!--Footer Starts-->
        <footer>
            <ul class="footer_links">
                <li> <span>Home</span>
                    <ul>
                        <li><a href="#">Cause</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Artist </a></li>
                        <li><a href="#">Comments</a></li>
                    </ul>
                </li>
                <li > <span>Blog</span>
                    <ul>
                        <li><a href="#">Reviews</a></li>
                        <li><a href="#">Articles</a></li>
                        <li><a href="#">Causes</a></li>
                        <li><a href="#">Organizations</a></li>
                    </ul>
                </li>
                <li> <span>Contact Us</span>
                    <ul>
                        <li><a href="#">Work With Us</a></li>
                        <li><a href="#">Suggestions</a></li>
                        <li><a href="#">Become An Artist</a></li>
                        <li><a href="#">Become An Org</a></li>
                    </ul>
                </li>
                <li> <span>About Us</span>
                    <ul>
                        <li><a href="#">Mision and Vision</a></li>
                        <li><a href="#">Team</a></li>
                    </ul>
                </li>
                <li> <span>Help</span>
                    <ul>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Payment Options</a></li>
                        <li><a href="#">My Cart</a></li>
                        <li><a href="#">Shipping Information</a></li>
                    </ul>
                </li>
            </ul>
            <div class="footer_customblock">
                <div class="shipping_info"> 
                    <big>NOT BUYING TODAY?</big><br>
                    <small>No problem! You can always spread the word on social media networks </small>
                    <div id="social_media">
                        <div class="find_us">
                            <a class="facebook_white" href="#"></a> <a class="twitter_white" href="#"></a> <a class="pinterest_white" href="#"></a> </div>
                        </div>
                    </div>
                <div class="contact_info">
                    <big>Subscribe to our newsletter</big>
                    <form action="mailing_list">
                        <input type="text" name="Email">
                    </form>
                </div>
            </div>
            <address>
                <h1 class="logo_footer"> <a href="leisure_index.html"><img src="images/logo_footer.png" ></a></h1>
            Copyright © 2012 Yanapana. All Rights Reserved. <img src="images/payment_info.jpg">
            </address>
        </footer>
        <!--Footer Ends-->
    </div>
