
<div class="footer_container">
    <div class="footer_background"></div>
        <!--Footer Starts-->
        <footer>
            <ul class="footer_links">
                <li><span><a href="http://localhost:3000">Home</a></span>
                    <ul class="hidden_movil">
                        <li><a href="http://localhost:3000/#cause">Cause</a></li>
                        <li><a href="http://localhost:3000/#goals">Goals</a></li>
                        <li><a href="http://localhost:3000/#products">Products</a></li>
                        <li><a href="http://localhost:3000/#artist">Artist</a></li>
                        <li><a href="http://localhost:3000/#comments">Comments</a></li>
                    </ul>
                </li>
                <li><span><a href="http://localhost:3000/about-us">About Us</a></span>
                    <ul class="hidden_movil">
                        <li><a href="http://localhost:3000/about-us#whoweare">Who is YANAPANA?</a></li>
                        <li><a href="http://localhost:3000/about-us#motivation">Our Motivation</a></li>
                        <li><a href="http://localhost:3000/about-us#whatwedo">What We Do</a></li>
                        <li><a href="http://localhost:3000/about-us#family">Our Family</a></li>
                    </ul>
                </li>
                <li> <span><a href="http://localhost:3000/contact-us">Contact Us</a></span>
                    <ul class="hidden_movil">
                        <li><a href="http://localhost:3000/contact-us#leavemessage">Suggestions</a></li>
                        <li><a href="http://localhost:3000/contact-us#leavemessage">Questions</a></li>
                        <li><a href="http://localhost:3000/contact-us#leavemessage">Work With Us </a></li>
                    </ul>
                </li>
                <li> <span><a href="http://localhost:3000/how-it-works">How It Works</a></span>
                    <ul class="hidden_movil">
                        <li><a href="http://localhost:3000/how-it-works#submityourdesigns">Submit Your Designs </a></li>
                    </ul>
                </li>
                <li><span><a href="http://localhost:3000/faq">Help</a></span>
                    <ul class="hidden_movil">
                        <li><a href="http://localhost:3000/faq">Shipping Costs</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Terms and Conditions of Returns</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Shipping Information</a></li>
                    </ul>
                </li>
            </ul>
            <div class="footer_customblock">
                <div class="shipping_info">
                    <big>NOT BUYING TODAY?</big><br>
                    <small>No problem! You can always spread the word on social media networks </small>
                    <div id="social_media">
                        <div class="find_us">
                            <a class="facebook_white" href="http://www.facebook.com/YANAPANAcom?fref=ts"></a> <a class="twitter_white" href="#"></a> <a class="pinterest_white" href="#"></a> </div>
                        </div>
                    </div>
                <div class="contact_info">
                    <big>Subscribe to our newsletter</big>
                    <div id="newsletter">
                      <%= form_tag subscribe_path, :remote => true, :html => {:id => 'sign-up'} do %>

                        <input  type="email" value="" placeholder="Tu Correo Electrónico" id="email" name="email">
                        <input type="submit" value="Regístrate" name="subscribe" class="sign-up">

                        <span class="form-Motivationessage" id="response"></span>

                      <% end %>
                    </div>

                                    </div>
            </div>
            <address>
                <h1 class="logo_footer"> <a href="#"><%= image_tag ("image-yanapana/logo_footer.png") %></a></h1>
                Copyright © 2012 Yanapana. All Rights Reserved.
            </address>
        </footer>
        <!--Footer Ends-->
    </div>
