<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Yanapana</title>
<!--CSS-->
<%= stylesheet_link_tag 'store/all', :media => 'screen' %>
<!--Google Webfont -->
<link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="//use.typekit.net/xxr3kft.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!--Javascript-->

<!--[if lt IE 9]>
    <script src="js/html5.js"></script>
<![endif]-->
<!-- mobile setting -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


<script charset="utf-8" language="javascript" type="text/javascript">
    $(document).ready(function() {
  $(".cause_background").anystretch("http://abagond.files.wordpress.com/2012/07/poverty_board.jpg");
  });
</script>

<script>
$(document).ready(function() {
	    
	    $('a[href=#top]').click(function(){
	        $('html, body').animate({scrollTop:0}, 'slow');
	        return false;
	    });
	 
	});
</script>

