<% unless @product_properties.empty? %>

  <div id="product-specs">
    <h4 id="mostrar" href="#">Quick Overview</h4>
    <div id="caja">
      <ul>
        <% for product_property in @product_properties
             css_class = cycle('even', 'odd') %>
             <li><%= product_property.property.presentation %>-<%= product_property.value %></li>
        <% end %>
      </ul>
    </div>
   </div>
 <% end %>
