<div class='countdown'>
  <h3> Sale Time Left: </h3>
  <ul class='countdown_text'>
    <li>Days</li>
    <li>Hrs.</li>
    <li>Min.</li>
    <li>Sec.</li>
  </ul>
  <ul class='countdown_numbers'>
    <li>0{dn}:</li>
    <li>{hn}:</li>
    <li>{mn}:</li>
    <li>{sn}</li>
  </ul>
</div>

