<div class="section_container jean pb">
        <!--Mid Section Starts-->
        <section>
            <ul class="breadcrumb">
                <li><%= link_to "Home", root_path %></li>
                <li class="active">About Us</li>
            </ul>
            <div class="full_page">
              <h1>about us </h1>
              <iframe class="aboutus-video" width="560"  src="http://www.youtube.com/embed/bRpimCP-DcE" frameborder="0" allowfullscreen></iframe>
              <a name="whoweare"></a>
                <h2 class="sub_title">What is YANAPANA? </h2>
                <p>YANAPANA is a clothing company that combines fashion and solidarity to help change lives. </p>
                <p>Our goal is to make trendy apparel that helps fight child hunger, as well as support child education and women’s development. </p>
                <p>For every T-shirt sold, YANAPANA provides 3 meals to children while giving 10% to causes helping child education or helping women in different areas of need. </p>
                <p><b>Wear YANAPANA, help change lives!</b></p>
              <a name="family"></a>
                <h2 class="sub_title">our family</h2>

                <div class="collaborators">
                </br>
                  <% @teams.each do |team|  %>
                  <ul>
                    <% team.each do |member| %>
                      <li>
                        <%= image_tag (member.photo(:photomember)), :alt=>member.fullname %>
                        <h3><%= member.fullname %></h3>
                        <p><%= member.jobp %></p>
                      </li>
                    <% end %>
                    </ul>
                  <% end %>
                </div>
                <p>
                We believe that small actions when put together can have a huge impact on society, and that is what moves us forward. 
                </p>
                <p>
                We are always happy to hearing from our friends and supporters.  If you have any suggestions on how we can improve ourselves, please reach us by using the contact form, or by sending an email to hello@yanapana.com
                </p>

            </div>

        </section>
</div>





