<div class="section_container jean pb">
        <!--Mid Section Starts-->
        <section>
            <ul class="breadcrumb">
                <li><%= link_to "Home", root_path %></li>
                <li class="active">About Us</li>
            </ul>
            <div class="full_page">
              <h1>about us </h1>
                <h2 class="sub_title">Who is YANAPANA?  </h2>
                    <p>YANAPANA is a social enterprise that combines fashion and solidarity. We make awesome apparel that brings positive change to the world
                          by supporting charitable organizations that work for the empowerment of women
                    </p>
                <h2 class="sub_title">Our Motivation</h2>
                    <p>At YANAPANA, we believe that all human beings, both men and women, should have the opportunity to reach their full potentials in life.
    Unfortunately many times women, especially those living in the developing world, oBen lack (or are deprived of) the opportunities for self-growth that we take for granted
    in the developed world.</p>
                    <p>
                      Believe it or not, there are parts of the world in which women are affected by issues such as domestic abuse, sexual exploitation or are
                      simply denied the right to education.
                    </p>
                    <p>
                      If you think like us, we would agree that the empowerment of women is crucial for the growth of healthy societies. Through YANAPANA
                      you can contribute to make this a beKer planet. Because by helping women, you are NOT just helping a woman, but society as a whole. We
                      invite you to get involved.
                    </p>
                <h2 class="sub_title">What we do</h2>
                    <p>
                      We make fashion apparel that not only looks and feels good, but does good too!
                    </p>
                    <p>
                      Every week we design and produce a new line of clothing, exclusively found on our website.
                      Instead of spending money in traditional advertising and distribution to traditional storefronts, we donate that money, $8 per item sold, to
                      causes that bring positive change to the world through women
                    </p>
                <h2 class="sub_title">our family</h2>

                <div class="collaborators">
                </br>
                  <% @teams.each do |team|  %>
                  <ul>
                    <% team.each do |member| %>
                      <li>
                        <%= image_tag (member.photo(:photomember)), :alt=>member.fullname %>
                        <h3><%= member.fullname %></h3>
                        <p><%= member.jobp %></p>
                      </li>
                    <% end %>
                    </ul>
                  <% end %>
                </div>
                <p>
                  The YANAPANA family is a small yet very international crowd dedicated to raising awareness and funds for organizations helping empower women by linking fashion and solidarity.
                </p>
                <p>
                  We strongly believe that many small actions when put together can have a big impact on our society, and that is what moves us forward.
                </p>
                <p>
                  We are always open to new ideas. If you have any suggestions on how we can do things beKer, please email us at <a href="#">IwantToHelp@yanapana.com</a>
.
                </p>
                <p>
                  Want to join out team? Email us at <a href="#">DreamInternship@yanapana.com</a> Current openings in Lausanne, Switzerland only.
                </p>

            </div>

        </section>
</div>





