<div class="section_container jean pb">
	<section>
		<ul class="breadcrumb">
				    <li><%= link_to "Home", root_path %></li>
				    <li class="active">Dashboard</li>
			</ul>
	    <div class="full_page">
              <h2 class="sub_title">Welcome Eduardo!</h2>
              <div class="one-fourth">
              <%= image_tag ("image-yanapana/artist.jpg")%>
              <div id="dashboard-box">
                <



              </div>


                <ul class="short-code toggle_box">
                    <li>
                        <a class="toggle_title" id="profile_title" href="#">About</a>
                        <div class="toggle_content short-code-column active" style="display: none;">
                           <ul id="profile_info">
                               <li>
                                 <span>13/01/1989</span>
                               </li>
                               <li>
                                 <span>Male</span>
                               </li>
                               <li>
                                 <span>Monterrey NL.</span>
                               </li>
                               <li>
                                 <span>Mexico</span>
                               </li>
                               <li>
                                 <span>esauret@incaztech.com</span>
                               </li>
                               <li>
                                 <span>1241234</span>
                               </li>
                               <li>
                                 <span>Digital Art</span>
                               </li>
                               <li>
                                 <span>www.incaztech.com</span>
                               </li>
                               <li>
                                 <span>www.twitter.com/sauret</span>
                               </li>
                               <li>
                                 <span>www.facebook.com/honore.sauret</span>
                               </li>
                           </ul>
                         </div>
                    </li>
		    <li>
                        <a class="toggle_title" id="profile_title" href="#">General Stats</a>
                        <div class="toggle_content short-code-column active" style="display: none;">
                           <ul id="profile_info">
                               <li>
                                 <span>13/01/1989</span>
                               </li>
                               <li>
                                 <span>Male</span>
                               </li>
                               <li>
                                 <span>Monterrey NL.</span>
                               </li>
                           </ul>
                         </div>
                    </li>
                </ul>
              </div>
              
              <div class="three-fourth">
                
                <h3>Biography</h3>
                <p>
Every week we design and produce a new line of clothing, exclusively found on our website. Instead of spending money in traditional advertising and distribution to traditional storefronts, we donate that money, $8 per item sold, to causes that bring positive change to the world through women 
                </p>
                  <h3>Reason to design for Yanapana</h3>
                <p>
Every week we design and produce a new line of clothing, exclusively found on our website. Instead of spending money in traditional advertising and distribution to traditional storefronts, we donate that money, $8 per item sold, to causes that bring positive change to the world through women 
                </p>

                 <div id="product-stats">
                    <h3>Product Stats</h3>
                 </div>
                 <div class="product-stats-content">

                    <ul>
                      <li>heloo</li>
                      <li>heloo</li>
                      <li>heloo</li>
                      <li>heloo</li>
                      <li>heloo</li>
                      <li>heloo</li>
                    </ul>


                  </div>




              </div>
              
            </div>
        </section>
</div>