<div class="section_container jean pb">
  <section>
    <ul class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li><a href="#">Shopping Cart</a></li>
      <li class="active">Checkout</li>
    </ul>
    
    <div class="full_page">
      <h1><%= t(:Your_order_has_been_processed!) %></h1>
        <div class="checkout_steps">
          <ol id="checkoutSteps">
      
      
            <li class="section allow active" id="opc-login">
                <div class="step-title"> 
                  <h2>Order #132456</h2>
                </div>
                <div id="checkout-step-confirm">
                  <div id="shopping_cart" class="full_page">
                    <div class="message warning"><%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %></div>
                  </div>
                  
                <fieldset data-hook="" id="order_summary">
       
                
                <table class="index columns alpha omega sixteen" data-hook="order_details">
                  <colgroup>
                  <col width="30%" valign="middle" halign="center">
                  <col width="10%" valign="middle">
                  <col width="5%" valign="middle" halign="center">
                  <col width="5%" valign="middle" halign="center">
                  <col width="0%" valign="middle" halign="center">
                
                  </colgroup>
                  <thead id="line-items" data-hook="">
                    <tr data-hook="order_details_line_items_headers">
                      <th class="name">Product Name</th>
                      <th class="price">Price</th>
                      <th class="quantity">Quantity</th>
                      <th class="total">Total</th>
                    </tr>
                  </thead>
                
                  <tbody id="line-items" data-hook="">
                      <tr data-hook="order_details_line_item_row">
                        
                        <td class="prod_name" data-hook="order_item_description">
                          <b>Camiseta3</b>
                          
                        </td>
                        <td data-hook="order_item_price" class="price"><span>$20.00</span></td>
                        <td data-hook="order_item_qty">2</td>
                        <td data-hook="order_item_total" class="total"><span>$40.00</span></td>
                      </tr>
                  </tbody>
                  <tfoot id="order-total" data-hook="order_details_total">
                    <tr class="total">
                      <td colspan="3"><b>Order Total:</b></td>
                      <td class="total"><span id="order_total">$40.00</span></td>
                    </tr>
                  </tfoot>
                  <tfoot id="subtotal" data-hook="order_details_subtotal">
                    <tr class="total" id="subtotal-row">
                      <td colspan="3"><b>Subtotal:</b></td>
                      <td class="total"><span>$40.00</span></td>
                    </tr>
                  </tfoot>
                  <tfoot id="order-charges" data-hook="order_details_adjustments">
                      <tr class="total">
                        <td colspan="3"><strong>Shipping</strong></td>
                        <td class="total"><span>$0.00</span></td>
                      </tr>
                  </tfoot>
                </table>
                
                
                  <br class="clear">
                  <!--Facebook like button Starts-->
                    <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
                    <!--Facebook like button Ends-->
                    <!--Twitter follotw button Starts-->
                    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>               
                    <!--Twitter follotw button Ends-->
                  <p data-hook="links">
                    <a href="/" class="button">Continue Shopping!</a>
                  </p>
                </div>
                </fieldset>

                </div>
            </li>
          </ol>
    </div><!--Ends full page-->
  </section>
</div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div id="fb-root"></div>
