<html xmlns="http://www.w3.org/1999/xhtml" class="dj_gecko dj_ff20 dj_contentbox"><head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <title>*|MC:SUBJECT|*</title>
        
        <!--[if gte mso 6]>
        <style>
            table.mcnFollowContent {width:100% !important;}
            table.mcnShareContent {width:100% !important;}
        </style>
        <![endif]-->
    <style type="text/css">
		#outlook a{
			padding:0;
		}
		.ReadMsgBody{
			width:100%;
		}
		.ExternalClass{
			width:100%;
		}
		span.yshortcuts{
			background-color:none !important;
			border:none !important;
		}
		span.yshortcuts:hover,span.yshortcuts:active,span.yshortcuts:focus{
			background-color:none !important;
			border:none !important;
		}
		body{
			margin:0;
			padding:0;
		}
		a{
			word-wrap:break-word !important;
		}
		img{
			border:0;
			height:auto;
			line-height:100%;
			outline:none;
			text-decoration:none;
		}
		table,td{
			border-collapse:collapse;
			mso-table-lspace:0pt;
			mso-table-rspace:0pt;
		}
		#bodyTable,#bodyCell{
			height:100% !important;
			margin:0;
			padding:0;
			width:100% !important;
		}
		#bodyCell{
			padding:20px;
		}
		.mcnImage{
			vertical-align:bottom;
		}
		body,#bodyTable{
			background-color:#e0e0e0;
		}
		#bodyCell{
			border-top:0;
		}
		#templateContainer{
			border:1px solid #BBBBBB;
		}
		h1{
			color:#202020 !important;
			display:block;
			font-family:Helvetica;
			font-size:26px;
			font-style:normal;
			font-weight:bold;
			line-height:100%;
			letter-spacing:normal;
			margin:0;
			text-align:left;
		}
		h2{
			color:#404040 !important;
			display:block;
			font-family:Helvetica;
			font-size:20px;
			font-style:normal;
			font-weight:bold;
			line-height:100%;
			letter-spacing:normal;
			margin:0;
			text-align:left;
		}
		h3{
			color:#606060 !important;
			display:block;
			font-family:Helvetica;
			font-size:16px;
			font-style:italic;
			font-weight:normal;
			line-height:100%;
			letter-spacing:normal;
			margin:0;
			text-align:left;
		}
		h4{
			color:#808080 !important;
			display:block;
			font-family:Helvetica;
			font-size:14px;
			font-style:italic;
			font-weight:normal;
			line-height:100%;
			letter-spacing:normal;
			margin:0;
			text-align:left;
		}
		#templatePreheader{
			background-color:#333333;
			border-top:0;
			border-bottom:0;
		}
		.preheaderContainer .mcnTextContent{
			color:#808080;
			font-family:Helvetica;
			font-size:10px;
			line-height:150%;
			text-align:left;
		}
		.preheaderContainer .mcnTextContent a,.preheaderContent a .yshortcuts {
			color:#606060;
			font-weight:normal;
			text-decoration:underline;
		}
		#templateHeader{
			background-color:#f4f4f4;
			border-top:0;
			border-bottom:0;
		}
		.headerContainer .mcnTextContent{
			color:#505050;
			font-family:Helvetica;
			font-size:14px;
			line-height:150%;
			text-align:left;
		}
		.headerContainer .mcnTextContent a,.headerContainer .mcnTextContent a:link,.headerContainer .mcnTextContent a:visited,.headerContainer .mcnTextContent a .yshortcuts {
			color:#EB4102;
			font-weight:normal;
			text-decoration:underline;
		}
		#templateBody{
			background-color:#ffffff;
			border-top:0;
			border-bottom:0;
		}
		.bodyContainer .mcnTextContent{
			color:#505050;
			font-family:Helvetica;
			font-size:14px;
			line-height:150%;
			text-align:left;
		}
		.bodyContainer .mcnTextContent a,.bodyContainer .mcnTextContent a .yshortcuts {
			color:#EB4102;
			font-weight:normal;
			text-decoration:underline;
		}
		#templateColumns{
			background-color:#f4f4f4;
			border-top:1px solid #dddddd;
			border-bottom:0px dashed #cccccc;
		}
		.leftColumnContainer .mcnTextContent{
			color:#505050;
			font-family:Helvetica;
			font-size:14px;
			line-height:150%;
			text-align:left;
		}
		.leftColumnContainer .mcnTextContent a,.leftColumnContainer .mcnTextContent a .yshortcuts {
			color:#EB4102;
			font-weight:normal;
			text-decoration:underline;
		}
		.centerColumnContainer .mcnTextContent{
			color:#505050;
			font-family:Helvetica;
			font-size:14px;
			line-height:150%;
			text-align:left;
		}
		.centerColumnContainer .mcnTextContent a,.rightColumnContainer .mcnTextContent a .yshortcuts {
			color:#EB4102;
			font-weight:normal;
			text-decoration:underline;
		}
		.rightColumnContainer .mcnTextContent{
			color:#505050;
			font-family:Helvetica;
			font-size:14px;
			line-height:150%;
			text-align:left;
		}
		.rightColumnContainer .mcnTextContent a,.rightColumnContainer .mcnTextContent a .yshortcuts {
			color:#EB4102;
			font-weight:normal;
			text-decoration:underline;
		}
		.leftColumnContainer .mcnTextContent img,.centerColumnContainer .mcnTextContent img,.rightColumnContainer .mcnTextContent img{
			display:inline;
			height:auto;
		}
		#templateFooter{
			background-color:#333333;
			border-top:0;
			border-bottom:0;
		}
		.footerContainer .mcnTextContent{
			color:#ffffff;
			font-family:Helvetica;
			font-size:10px;
			line-height:150%;
			text-align:left;
		}
		.footerContainer .mcnTextContent a,.footerContainer .mcnTextContent a .yshortcuts {
			color:#606060;
			font-weight:normal;
			text-decoration:underline;
		}
	@media only screen and (max-width: 480px){
		body,table,td,p,a,li,blockquote{
			-webkit-text-size-adjust:none !important;
		}

}	@media only screen and (max-width: 480px){
		body{
			width:100% !important;
			min-width:100% !important;
		}

}	@media only screen and (max-width: 480px){
		td[id=bodyCell]{
			padding:10px !important;
		}

}	@media only screen and (max-width: 480px){
		table[class=mcnTextContentContainer]{
			width:100% !important;
		}

}	@media only screen and (max-width: 480px){
		table[class=mcnBoxedTextContentContainer]{
			width:100% !important;
		}

}	@media only screen and (max-width: 480px){
		table[class=mcpreview-image-uploader]{
			width:100% !important;
			display:none !important;
		}

}	@media only screen and (max-width: 480px){
		img[class=mcnImage]{
			width:100% !important;
		}

}	@media only screen and (max-width: 480px){
		table[class=mcnImageGroupContentContainer]{
			width:100% !important;
		}

}	@media only screen and (max-width: 480px){
		td[class=mcnImageGroupContent]{
			padding:9px !important;
		}

}	@media only screen and (max-width: 480px){
		td[class=mcnImageGroupBlockInner]{
			padding-bottom:0 !important;
			padding-top:0 !important;
		}

}	@media only screen and (max-width: 480px){
		tbody[class=mcnImageGroupBlockOuter]{
			padding-bottom:9px !important;
			padding-top:9px !important;
		}

}	@media only screen and (max-width: 480px){
		table[class=mcnCaptionLeftTextContentContainer],table[class=mcnCaptionRightTextContentContainer],table[class=mcnCaptionLeftImageContentContainer],table[class=mcnCaptionRightImageContentContainer],table[class=mcnImageCardLeftTextContentContainer],table[class=mcnImageCardRightTextContentContainer]{
			width:100% !important;
		}

}	@media only screen and (max-width: 480px){
		td[class=mcnImageCardLeftImageContent],td[class=mcnImageCardRightImageContent]{
			padding-right:18px !important;
			padding-left:18px !important;
			padding-bottom:0 !important;
		}

}	@media only screen and (max-width: 480px){
		td[class=mcnImageCardBottomImageContent]{
			padding-bottom:9px !important;
		}

}	@media only screen and (max-width: 480px){
		td[class=mcnImageCardTopImageContent]{
			padding-top:18px !important;
		}

}	@media only screen and (max-width: 480px){
		table[class=mcnCaptionLeftContentOuter] td[class=mcnTextContent],table[class=mcnCaptionRightContentOuter] td[class=mcnTextContent]{
			padding-top:9px !important;
		}

}	@media only screen and (max-width: 480px){
		td[class=mcnCaptionBlockInner] table[class=mcnCaptionTopContent]:last-child td[class=mcnTextContent]{
			padding-top:18px !important;
		}

}	@media only screen and (max-width: 480px){
		td[class=mcnBoxedTextContentColumn]{
			padding-left:18px !important;
			padding-right:18px !important;
		}

}	@media only screen and (max-width: 480px){
		td[class=columnsContainer]{
			display:block !important;
			max-width:600px !important;
			width:100% !important;
		}

}	@media only screen and (max-width: 480px){
		table[id=templateContainer],table[id=templateHeader],table[id=templateColumns],table[class=templateColumn],table[id=templateBody],table[id=templateFooter]{
			max-width:600px !important;
			width:100% !important;
		}

}	@media only screen and (max-width: 480px){
		h1{
			font-size:24px !important;
			line-height:100% !important;
		}

}	@media only screen and (max-width: 480px){
		h2{
			font-size:20px !important;
			line-height:100% !important;
		}

}	@media only screen and (max-width: 480px){
		h3{
			font-size:18px !important;
			line-height:100% !important;
		}

}	@media only screen and (max-width: 480px){
		h4{
			font-size:16px !important;
			line-height:100% !important;
		}

}	@media only screen and (max-width: 480px){
		table[class=mcnBoxedTextContentContainer] td[class=mcnTextContent]{
			font-size:18px !important;
			line-height:125% !important;
		}

}	@media only screen and (max-width: 480px){
		table[id=templatePreheader]{
			display:none !important;
		}

}	@media only screen and (max-width: 480px){
		table[id=templateHeader]{
			border-top:0 !important;
		}

}	@media only screen and (max-width: 480px){
		td[class=headerContainer] td[class=mcnTextContent]{
			font-size:18px !important;
			line-height:125% !important;
			padding-right:18px !important;
			padding-left:18px !important;
		}

}	@media only screen and (max-width: 480px){
		td[class=bodyContainer] td[class=mcnTextContent]{
			font-size:18px !important;
			line-height:125% !important;
			padding-right:18px !important;
			padding-left:18px !important;
		}

}	@media only screen and (max-width: 480px){
		td[class=leftColumnContainer] td[class=mcnTextContent]{
			font-size:18px !important;
			line-height:125% !important;
			padding-right:18px !important;
			padding-left:18px !important;
		}

}	@media only screen and (max-width: 480px){
		td[class=centerColumnContainer] td[class=mcnTextContent]{
			font-size:18px !important;
			line-height:125% !important;
			padding-right:18px !important;
			padding-left:18px !important;
		}

}	@media only screen and (max-width: 480px){
		td[class=rightColumnContainer] td[class=mcnTextContent]{
			font-size:18px !important;
			line-height:125% !important;
			padding-right:18px !important;
			padding-left:18px !important;
		}

}	@media only screen and (max-width: 480px){
		td[class=footerContainer] td[class=mcnTextContent]{
			font-size:14px !important;
			line-height:115% !important;
			padding-right:18px !important;
			padding-left:18px !important;
		}

}	@media only screen and (max-width: 480px){
		td[class=footerContainer] a[class=utilityLink]{
			display:block !important;
		}

}</style><link href="https://us5.admin.mailchimp.com/release/8.1.53/css/template-editor.css" type="text/css" rel="stylesheet">
                <!--[if IE 7]><link rel="stylesheet" type="text/css" href="https://us5.admin.mailchimp.com/release/8.1.53/css/template-editor-ie7.css" /><![endif]-->
                <!--[if IE 8]><link rel="stylesheet" type="text/css" href="https://us5.admin.mailchimp.com/release/8.1.53/css/template-editor-ie8.css" /><![endif]-->
                    <script data-dojo-config="parseOnLoad: true, usePlainJson: true, isDebug: false" src="https://us5.admin.mailchimp.com/release/8.1.53/js/dojo/dojo.js " type="text/javascript"></script><script src="https://us5.admin.mailchimp.com/release/8.1.53/js/mojo/mcnpreview.js" type="text/javascript"></script>
                <script>dojo.require("mojo.neapolitan.Preview");</script><style type="text/css">/* Enable image placeholders */@-moz-document url-prefix(http), url-prefix(file) { img:-moz-broken{-moz-force-broken-image-icon:1; width:24px;height:24px;
}
}</style></head>
    <body marginwidth="0" marginheight="0" style="padding: 0px; background-color: rgb(255, 255, 255); margin: 0px;" offset="0" topmargin="0" leftmargin="0" class="neapolitan-preview">
        <center>
            <table width="100%" height="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; margin: 0px; padding: 0px; height: 100% ! important; width: 100% ! important; background-color: rgb(255, 255, 255);" id="bodyTable">
                <tbody><tr>
                    <td valign="top" align="center" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;margin: 0;padding: 20px;border-top: 0;height: 100% !important;width: 100% !important;" id="bodyCell">
                        <!-- BEGIN TEMPLATE // -->
                        <table width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 1px solid #BBBBBB;" id="templateContainer">
                            <tbody><tr>
                                <td valign="top" align="center" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                                    <!-- BEGIN PREHEADER // -->
                                    <table width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;background-color: #333333;border-top: 0;border-bottom: 0;" id="templatePreheader">
                                        <tbody><tr>
                                        	<td valign="top" mccontainer="preheader_container" mc:container="preheader_container" style="padding-top: 9px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;" class="preheaderContainer tpl-container dojoDndSource dojoDndTarget dojoDndContainer"><div class="mojoMcContainerEmptyMessage" style="display: none;">Drop Content Blocks Here</div><div class="mojoMcBlock tpl-block dojoDndItem" id="mojo_neapolitan_preview_McBlock_0" widgetid="mojo_neapolitan_preview_McBlock_0">

    <!-- Content of the block will get inserted inside of this -->
    <div data-dojo-attach-point="containerNode"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="mcnImageBlock">
    <tbody class="mcnImageBlockOuter">
            <tr>
                <td valign="top" class="mcnImageBlockInner" style="padding:0px">
                    <table width="100%" border="0" align="left" cellspacing="0" cellpadding="0" class="mcnImageContentContainer">
                        <tbody><tr>
                            <td valign="top" style="padding-right: 0px; padding-left: 0px; padding-top: 0; padding-bottom: 0;" class="mcnImageContent">
                                
                                    
                                        <img width="600" align="left" class="mcnImage blockDropTarget" style="max-width:600px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/34d479905576cbf2b84294e02/images/logo_header5.png" alt="" id="mojo_neapolitan_preview_ImageUploader_0" widgetid="mojo_neapolitan_preview_ImageUploader_0">
                                    
                                
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table></div>

    <div class="tpl-block-controls">
        <a class="tpl-block-drag dojoDndHandle" href="javascript:void(0)" title="Drag to Reorder"><span class="icon32w icon-drag_32w">Drag</span></a>

        <a data-dojo-attach-point="editBtn" class="tpl-block-edit" href="#" title="Edit Block"><span class="icon32w icon-edit_32w">Edit</span></a>
        <a data-dojo-attach-point="cloneBtn" class="tpl-block-clone" href="#" title="Duplicate Block"><span class="icon32w icon-clone_32w">Clone</span></a>
        <a data-dojo-attach-point="deleteBtn" class="tpl-block-delete" href="#" title="Delete Block"><span class="icon32w icon-trash_32w">Delete</span></a>
    </div>

</div></td>                                            
                                        </tr>
                                    </tbody></table>
                                    <!-- // END PREHEADER -->
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="center" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                                    <!-- BEGIN HEADER // -->
                                    <table width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;background-color: #f4f4f4;border-top: 0;border-bottom: 0;" id="templateHeader">
                                        <tbody><tr>
                                            <td valign="top" mccontainer="header_container" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;" mc:container="header_container" class="headerContainer tpl-container dojoDndSource dojoDndTarget dojoDndContainer"><div class="mojoMcContainerEmptyMessage" style="display: none;">Drop Content Blocks Here</div><div class="mojoMcBlock tpl-block dojoDndItem" id="mojo_neapolitan_preview_McBlock_1" widgetid="mojo_neapolitan_preview_McBlock_1">

    <!-- Content of the block will get inserted inside of this -->
    <div data-dojo-attach-point="containerNode"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="mcnImageBlock">
    <tbody class="mcnImageBlockOuter">
            <tr>
                <td valign="top" class="mcnImageBlockInner" style="padding:0px">
                    <table width="100%" border="0" align="left" cellspacing="0" cellpadding="0" class="mcnImageContentContainer">
                        <tbody><tr>
                            <td valign="top" style="padding-right: 0px; padding-left: 0px; padding-top: 0; padding-bottom: 0;" class="mcnImageContent">
                                
                                    <a target="_self" class="" title="" href="http://yanapana-sta.herokuapp.com/">
                                        <img width="600" align="left" class="mcnImage blockDropTarget" style="max-width:600px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/34d479905576cbf2b84294e02/images/HealthPovertyAction_birthwaitinghomes_motherandbabya0db1a.jpeg" alt="" id="mojo_neapolitan_preview_ImageUploader_1" widgetid="mojo_neapolitan_preview_ImageUploader_1">
                                    </a>
                                
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table></div>

    <div class="tpl-block-controls">
        <a class="tpl-block-drag dojoDndHandle" href="javascript:void(0)" title="Drag to Reorder"><span class="icon32w icon-drag_32w">Drag</span></a>

        <a data-dojo-attach-point="editBtn" class="tpl-block-edit" href="#" title="Edit Block"><span class="icon32w icon-edit_32w">Edit</span></a>
        <a data-dojo-attach-point="cloneBtn" class="tpl-block-clone" href="#" title="Duplicate Block"><span class="icon32w icon-clone_32w">Clone</span></a>
        <a data-dojo-attach-point="deleteBtn" class="tpl-block-delete" href="#" title="Delete Block"><span class="icon32w icon-trash_32w">Delete</span></a>
    </div>

</div></td>
                                        </tr>
                                    </tbody></table>
                                    <!-- // END HEADER -->
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="center" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                                    <!-- BEGIN BODY // -->
                                    <table width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;background-color: #ffffff;border-top: 0;border-bottom: 0;" id="templateBody">
                                        <tbody><tr>
                                            <td valign="top" mccontainer="body_container" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;" mc:container="body_container" class="bodyContainer tpl-container dojoDndSource dojoDndTarget dojoDndContainer"><div class="mojoMcContainerEmptyMessage" style="display: none;">Drop Content Blocks Here</div><div class="mojoMcBlock tpl-block dojoDndItem" id="mojo_neapolitan_preview_McBlock_2" widgetid="mojo_neapolitan_preview_McBlock_2">

    <!-- Content of the block will get inserted inside of this -->
    <div data-dojo-attach-point="containerNode"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="mcnTextBlock">
    <tbody class="mcnTextBlockOuter">
        <tr>
            <td valign="top" class="mcnTextBlockInner">
                
                <table width="600" border="0" align="left" cellspacing="0" cellpadding="0" class="mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" style="padding: 9px 18px; text-align: left;" class="mcnTextContent">
                        
                            <h1 style="text-align: center;" class="mc-toc-title">
	<span style="font-size: 32px;"><span style="font-family: arial,helvetica neue,helvetica,sans-serif;">Every pregnant woman should have the right to give birth under safe conditions.&nbsp;</span></span></h1>
<h3>
	<span style="font-size:14px;"><span style="font-family: proxima_nova, sans-serif; line-height: 21px;">Sierra Leone is a dangerous place for a mother-to-be. The number of women dying due to complications in childbirth is among the highest on the planet.</span></span></h3>
<br>
This week your purchase will help build birthing homes enabling&nbsp;pregnant women access to the care and attention that they may otherwise not have access to.<br>

                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table></div>

    <div class="tpl-block-controls">
        <a class="tpl-block-drag dojoDndHandle" href="javascript:void(0)" title="Drag to Reorder"><span class="icon32w icon-drag_32w">Drag</span></a>

        <a data-dojo-attach-point="editBtn" class="tpl-block-edit" href="#" title="Edit Block"><span class="icon32w icon-edit_32w">Edit</span></a>
        <a data-dojo-attach-point="cloneBtn" class="tpl-block-clone" href="#" title="Duplicate Block"><span class="icon32w icon-clone_32w">Clone</span></a>
        <a data-dojo-attach-point="deleteBtn" class="tpl-block-delete" href="#" title="Delete Block"><span class="icon32w icon-trash_32w">Delete</span></a>
    </div>

</div></td>
                                        </tr>
                                    </tbody></table>
                                    <!-- // END BODY -->
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="center" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                                    <!-- BEGIN COLUMNS // -->
                                    <table width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;background-color: #f4f4f4;border-top: 1px solid #dddddd;border-bottom: 0px dashed #cccccc;" id="templateColumns">
                                        <tbody><tr>
                                            <td width="33%" valign="top" align="left" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;" class="columnsContainer">
                                                <table width="100%" border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;" class="templateColumn">
                                                    <tbody><tr>
                                                        <td valign="top" mccontainer="left_column_container" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;" mc:container="left_column_container" class="leftColumnContainer tpl-container dojoDndContainer dojoDndSource dojoDndTarget"><div class="mojoMcContainerEmptyMessage" style="display: none;">Drop Content Blocks Here</div><div class="mojoMcBlock tpl-block dojoDndItem" id="mojo_neapolitan_preview_McBlock_3" widgetid="mojo_neapolitan_preview_McBlock_3">

    <!-- Content of the block will get inserted inside of this -->
    <div data-dojo-attach-point="containerNode"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="mcnCaptionBlock">
    <tbody class="mcnCaptionBlockOuter">
        <tr>
            <td valign="top" style="padding:9px;" class="mcnCaptionBlockInner">
                

<table width="false" border="0" align="left" cellspacing="0" cellpadding="0" class="mcnCaptionBottomContent">
    <tbody><tr>
        <td valign="top" align="center" style="padding:0 9px 9px 9px;" class="mcnCaptionBottomImageContent">
        
            
            <a target="_self" class="" title="" href="http://yanapana-sta.herokuapp.com/">
            

            <img width="164" class="mcnImage blockDropTarget" style="max-width:301px;" src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/34d479905576cbf2b84294e02/images/Screen_shot_2013_04_10_at_4.56.04_PM.png" alt="" id="mojo_neapolitan_preview_ImageUploader_2" widgetid="mojo_neapolitan_preview_ImageUploader_2">
            </a>
        
        </td>
    </tr>
    <tr>
        <td width="164" valign="top" style="padding:0 9px 0 9px;" class="mcnTextContent">
            
        </td>
    </tr>
</tbody></table>





            </td>
        </tr>
    </tbody>
</table></div>

    <div class="tpl-block-controls">
        <a class="tpl-block-drag dojoDndHandle" href="javascript:void(0)" title="Drag to Reorder"><span class="icon32w icon-drag_32w">Drag</span></a>

        <a data-dojo-attach-point="editBtn" class="tpl-block-edit" href="#" title="Edit Block"><span class="icon32w icon-edit_32w">Edit</span></a>
        <a data-dojo-attach-point="cloneBtn" class="tpl-block-clone" href="#" title="Duplicate Block"><span class="icon32w icon-clone_32w">Clone</span></a>
        <a data-dojo-attach-point="deleteBtn" class="tpl-block-delete" href="#" title="Delete Block"><span class="icon32w icon-trash_32w">Delete</span></a>
    </div>

</div><div class="mojoMcBlock tpl-block dojoDndItem" id="mojo_neapolitan_preview_McBlock_4" widgetid="mojo_neapolitan_preview_McBlock_4">

    <!-- Content of the block will get inserted inside of this -->
    <div data-dojo-attach-point="containerNode"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="mcnCaptionBlock">
    <tbody class="mcnCaptionBlockOuter">
        <tr>
            <td valign="top" style="padding:9px;" class="mcnCaptionBlockInner">
                

<table width="false" border="0" align="left" cellspacing="0" cellpadding="0" class="mcnCaptionBottomContent">
    <tbody><tr>
        <td valign="top" align="center" style="padding:0 9px 9px 9px;" class="mcnCaptionBottomImageContent">
        
            
            <a target="_self" class="" title="" href="http://yanapana-sta.herokuapp.com/">
            

            <img width="164" class="mcnImage blockDropTarget" style="max-width:301px;" src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/34d479905576cbf2b84294e02/images/Screen_shot_2013_04_10_at_4.55.17_PM.png" alt="" id="mojo_neapolitan_preview_ImageUploader_3" widgetid="mojo_neapolitan_preview_ImageUploader_3">
            </a>
        
        </td>
    </tr>
    <tr>
        <td width="164" valign="top" style="padding:0 9px 0 9px;" class="mcnTextContent">
            
        </td>
    </tr>
</tbody></table>





            </td>
        </tr>
    </tbody>
</table></div>

    <div class="tpl-block-controls">
        <a class="tpl-block-drag dojoDndHandle" href="javascript:void(0)" title="Drag to Reorder"><span class="icon32w icon-drag_32w">Drag</span></a>

        <a data-dojo-attach-point="editBtn" class="tpl-block-edit" href="#" title="Edit Block"><span class="icon32w icon-edit_32w">Edit</span></a>
        <a data-dojo-attach-point="cloneBtn" class="tpl-block-clone" href="#" title="Duplicate Block"><span class="icon32w icon-clone_32w">Clone</span></a>
        <a data-dojo-attach-point="deleteBtn" class="tpl-block-delete" href="#" title="Delete Block"><span class="icon32w icon-trash_32w">Delete</span></a>
    </div>

</div></td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                            <td width="33%" valign="top" align="left" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;" class="columnsContainer">
                                                <table width="100%" border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;" class="templateColumn">
                                                    <tbody><tr>
                                                        <td valign="top" mccontainer="center_column_container" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;" mc:container="center_column_container" class="centerColumnContainer tpl-container dojoDndSource dojoDndTarget dojoDndContainer"><div class="mojoMcContainerEmptyMessage" style="display: none;">Drop Content Blocks Here</div><div class="mojoMcBlock tpl-block dojoDndItem" id="mojo_neapolitan_preview_McBlock_5" widgetid="mojo_neapolitan_preview_McBlock_5">

    <!-- Content of the block will get inserted inside of this -->
    <div data-dojo-attach-point="containerNode"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="mcnCaptionBlock">
    <tbody class="mcnCaptionBlockOuter">
        <tr>
            <td valign="top" style="padding:9px;" class="mcnCaptionBlockInner">
                

<table width="false" border="0" align="left" cellspacing="0" cellpadding="0" class="mcnCaptionBottomContent">
    <tbody><tr>
        <td valign="top" align="center" style="padding:0 9px 9px 9px;" class="mcnCaptionBottomImageContent">
        
            
            <a target="_self" class="" title="" href="http://yanapana-sta.herokuapp.com/">
            

            <img width="164" class="mcnImage blockDropTarget" style="max-width:301px;" src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/34d479905576cbf2b84294e02/images/Screen_shot_2013_04_10_at_4.55.17_PM.png" alt="" id="mojo_neapolitan_preview_ImageUploader_4" widgetid="mojo_neapolitan_preview_ImageUploader_4">
            </a>
        
        </td>
    </tr>
    <tr>
        <td width="164" valign="top" style="padding:0 9px 0 9px;" class="mcnTextContent">
            
        </td>
    </tr>
</tbody></table>





            </td>
        </tr>
    </tbody>
</table></div>

    <div class="tpl-block-controls">
        <a class="tpl-block-drag dojoDndHandle" href="javascript:void(0)" title="Drag to Reorder"><span class="icon32w icon-drag_32w">Drag</span></a>

        <a data-dojo-attach-point="editBtn" class="tpl-block-edit" href="#" title="Edit Block"><span class="icon32w icon-edit_32w">Edit</span></a>
        <a data-dojo-attach-point="cloneBtn" class="tpl-block-clone" href="#" title="Duplicate Block"><span class="icon32w icon-clone_32w">Clone</span></a>
        <a data-dojo-attach-point="deleteBtn" class="tpl-block-delete" href="#" title="Delete Block"><span class="icon32w icon-trash_32w">Delete</span></a>
    </div>

</div><div class="mojoMcBlock tpl-block dojoDndItem" id="mojo_neapolitan_preview_McBlock_6" widgetid="mojo_neapolitan_preview_McBlock_6">

    <!-- Content of the block will get inserted inside of this -->
    <div data-dojo-attach-point="containerNode"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="mcnCaptionBlock">
    <tbody class="mcnCaptionBlockOuter">
        <tr>
            <td valign="top" style="padding:9px;" class="mcnCaptionBlockInner">
                

<table width="false" border="0" align="left" cellspacing="0" cellpadding="0" class="mcnCaptionBottomContent">
    <tbody><tr>
        <td valign="top" align="center" style="padding:0 9px 9px 9px;" class="mcnCaptionBottomImageContent">
        
            
            <a target="_self" class="" title="" href="http://yanapana-sta.herokuapp.com/">
            

            <img width="164" class="mcnImage blockDropTarget" style="max-width:302px;" src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/34d479905576cbf2b84294e02/images/Screen_shot_2013_04_10_at_4.57.10_PM.png" alt="" id="mojo_neapolitan_preview_ImageUploader_5" widgetid="mojo_neapolitan_preview_ImageUploader_5">
            </a>
        
        </td>
    </tr>
    <tr>
        <td width="164" valign="top" style="padding:0 9px 0 9px;" class="mcnTextContent">
            
        </td>
    </tr>
</tbody></table>





            </td>
        </tr>
    </tbody>
</table></div>

    <div class="tpl-block-controls">
        <a class="tpl-block-drag dojoDndHandle" href="javascript:void(0)" title="Drag to Reorder"><span class="icon32w icon-drag_32w">Drag</span></a>

        <a data-dojo-attach-point="editBtn" class="tpl-block-edit" href="#" title="Edit Block"><span class="icon32w icon-edit_32w">Edit</span></a>
        <a data-dojo-attach-point="cloneBtn" class="tpl-block-clone" href="#" title="Duplicate Block"><span class="icon32w icon-clone_32w">Clone</span></a>
        <a data-dojo-attach-point="deleteBtn" class="tpl-block-delete" href="#" title="Delete Block"><span class="icon32w icon-trash_32w">Delete</span></a>
    </div>

</div><div class="mojoMcBlock tpl-block dojoDndItem" id="mojo_neapolitan_preview_McBlock_7" widgetid="mojo_neapolitan_preview_McBlock_7">

    <!-- Content of the block will get inserted inside of this -->
    <div data-dojo-attach-point="containerNode"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="mcnButtonBlock">
    <tbody class="mcnButtonBlockOuter">
        <tr>
            <td valign="top" align="center" class="mcnButtonBlockInner" style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;">
                <table border="0" cellspacing="0" cellpadding="0" class="mcnButtonContentContainer" style="border-radius: 6px 6px 6px 6px;background-color: #BCD80A;">
                    <tbody>
                        <tr>
                            <td valign="middle" align="center" class="mcnButtonContent" style="font-family: Arial; font-size: 14px; padding: 11px;">
                                <a style="font-weight: bold;letter-spacing: -0.5px;line-height: 100%;text-align: center;text-decoration: none;color: #F5FAF6;font-family: Arial;font-size: 14px;padding: 11px;" target="_self" href="http://yanapana-sta.herokuapp.com/" title="Show your support" class="mcnButton ">Show your support</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table></div>

    <div class="tpl-block-controls">
        <a class="tpl-block-drag dojoDndHandle" href="javascript:void(0)" title="Drag to Reorder"><span class="icon32w icon-drag_32w">Drag</span></a>

        <a data-dojo-attach-point="editBtn" class="tpl-block-edit" href="#" title="Edit Block"><span class="icon32w icon-edit_32w">Edit</span></a>
        <a data-dojo-attach-point="cloneBtn" class="tpl-block-clone" href="#" title="Duplicate Block"><span class="icon32w icon-clone_32w">Clone</span></a>
        <a data-dojo-attach-point="deleteBtn" class="tpl-block-delete" href="#" title="Delete Block"><span class="icon32w icon-trash_32w">Delete</span></a>
    </div>

</div></td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                            <td width="33%" valign="top" align="left" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;" class="columnsContainer">
                                                <table width="100%" border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;" class="templateColumn">
                                                    <tbody><tr>
                                                        <td valign="top" mccontainer="right_column_container" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;" mc:container="right_column_container" class="rightColumnContainer tpl-container dojoDndSource dojoDndTarget dojoDndContainer"><div class="mojoMcContainerEmptyMessage" style="display: none;">Drop Content Blocks Here</div><div class="mojoMcBlock tpl-block dojoDndItem" id="mojo_neapolitan_preview_McBlock_8" widgetid="mojo_neapolitan_preview_McBlock_8">

    <!-- Content of the block will get inserted inside of this -->
    <div data-dojo-attach-point="containerNode"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="mcnCaptionBlock">
    <tbody class="mcnCaptionBlockOuter">
        <tr>
            <td valign="top" style="padding:9px;" class="mcnCaptionBlockInner">
                

<table width="false" border="0" align="left" cellspacing="0" cellpadding="0" class="mcnCaptionBottomContent">
    <tbody><tr>
        <td valign="top" align="center" style="padding:0 9px 9px 9px;" class="mcnCaptionBottomImageContent">
        
            
            <a target="_self" class="" title="" href="http://yanapana-sta.herokuapp.com/">
            

            <img width="164" class="mcnImage blockDropTarget" style="max-width:302px;" src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/34d479905576cbf2b84294e02/images/Screen_shot_2013_04_10_at_4.57.10_PM.png" alt="" id="mojo_neapolitan_preview_ImageUploader_6" widgetid="mojo_neapolitan_preview_ImageUploader_6">
            </a>
        
        </td>
    </tr>
    <tr>
        <td width="164" valign="top" style="padding:0 9px 0 9px;" class="mcnTextContent">
            
        </td>
    </tr>
</tbody></table>





            </td>
        </tr>
    </tbody>
</table></div>

    <div class="tpl-block-controls">
        <a class="tpl-block-drag dojoDndHandle" href="javascript:void(0)" title="Drag to Reorder"><span class="icon32w icon-drag_32w">Drag</span></a>

        <a data-dojo-attach-point="editBtn" class="tpl-block-edit" href="#" title="Edit Block"><span class="icon32w icon-edit_32w">Edit</span></a>
        <a data-dojo-attach-point="cloneBtn" class="tpl-block-clone" href="#" title="Duplicate Block"><span class="icon32w icon-clone_32w">Clone</span></a>
        <a data-dojo-attach-point="deleteBtn" class="tpl-block-delete" href="#" title="Delete Block"><span class="icon32w icon-trash_32w">Delete</span></a>
    </div>

</div><div class="mojoMcBlock tpl-block dojoDndItem" id="mojo_neapolitan_preview_McBlock_9" widgetid="mojo_neapolitan_preview_McBlock_9">

    <!-- Content of the block will get inserted inside of this -->
    <div data-dojo-attach-point="containerNode"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="mcnCaptionBlock">
    <tbody class="mcnCaptionBlockOuter">
        <tr>
            <td valign="top" style="padding:9px;" class="mcnCaptionBlockInner">
                

<table width="false" border="0" align="left" cellspacing="0" cellpadding="0" class="mcnCaptionBottomContent">
    <tbody><tr>
        <td valign="top" align="center" style="padding:0 9px 9px 9px;" class="mcnCaptionBottomImageContent">
        
            
            <a target="_self" class="" title="" href="http://yanapana-sta.herokuapp.com/">
            

            <img width="164" class="mcnImage blockDropTarget" style="max-width:301px;" src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/34d479905576cbf2b84294e02/images/Screen_shot_2013_04_10_at_4.56.04_PM.png" alt="" id="mojo_neapolitan_preview_ImageUploader_7" widgetid="mojo_neapolitan_preview_ImageUploader_7">
            </a>
        
        </td>
    </tr>
    <tr>
        <td width="164" valign="top" style="padding:0 9px 0 9px;" class="mcnTextContent">
            
        </td>
    </tr>
</tbody></table>





            </td>
        </tr>
    </tbody>
</table></div>

    <div class="tpl-block-controls">
        <a class="tpl-block-drag dojoDndHandle" href="javascript:void(0)" title="Drag to Reorder"><span class="icon32w icon-drag_32w">Drag</span></a>

        <a data-dojo-attach-point="editBtn" class="tpl-block-edit" href="#" title="Edit Block"><span class="icon32w icon-edit_32w">Edit</span></a>
        <a data-dojo-attach-point="cloneBtn" class="tpl-block-clone" href="#" title="Duplicate Block"><span class="icon32w icon-clone_32w">Clone</span></a>
        <a data-dojo-attach-point="deleteBtn" class="tpl-block-delete" href="#" title="Delete Block"><span class="icon32w icon-trash_32w">Delete</span></a>
    </div>

</div></td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                    <!-- // END COLUMNS -->
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="center" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                                    <!-- BEGIN FOOTER // -->
                                    <table width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;background-color: #333333;border-top: 0;border-bottom: 0;" id="templateFooter">
                                        <tbody><tr>
                                            <td valign="top" mccontainer="footer_container" style="padding-bottom: 9px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;" mc:container="footer_container" class="footerContainer tpl-container dojoDndContainer dojoDndSource dojoDndTarget"><div class="mojoMcContainerEmptyMessage" style="display: none;">Drop Content Blocks Here</div><div class="mojoMcBlock tpl-block dojoDndItem" id="mojo_neapolitan_preview_McBlock_10" widgetid="mojo_neapolitan_preview_McBlock_10">

    <!-- Content of the block will get inserted inside of this -->
    <div data-dojo-attach-point="containerNode"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="mcnFollowBlock">
    <tbody class="mcnFollowBlockOuter">
        <tr>
            <td valign="top" align="center" class="mcnFollowBlockInner" style="padding:9px">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mcnFollowContentContainer">
    <tbody><tr>
        <td align="right" style="padding-left:9px;padding-right:9px;">
            <table border="0" cellspacing="0" cellpadding="0" class="mcnFollowContent">
                <tbody><tr>
                    <td valign="top" style="padding-top:9px; padding-right:9px; padding-left:9px;">
                        
                            
                            
                                <table border="0" align="left" cellspacing="0" cellpadding="0">
                                    <tbody><tr>
                                        <td valign="top" class="mcnFollowContentItemContainer" style="padding-right:10px; padding-bottom:9px;">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mcnFollowContentItem">
                                                <tbody><tr>
                                                    <td valign="middle" align="left" style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;">
                                                        <table width="" border="0" align="left" cellspacing="0" cellpadding="0">
                                                            <tbody><tr>
                                                                
                                                                    <td width="18" valign="middle" align="center" class="mcnFollowIconContent">
                                                                        <a target="_blank" href="http://www.facebook.com/yanapanawear"><img width="24" height="24" class="" style="display:block;" src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/cdn-images.mailchimp.com/icons/social-block/dark-facebook-128.png"></a>
                                                                    </td>
                                                                
                                                                
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>
                            
                        
                            
                            
                                <table border="0" align="left" cellspacing="0" cellpadding="0">
                                    <tbody><tr>
                                        <td valign="top" class="mcnFollowContentItemContainer" style="padding-right:10px; padding-bottom:9px;">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mcnFollowContentItem">
                                                <tbody><tr>
                                                    <td valign="middle" align="left" style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;">
                                                        <table width="" border="0" align="left" cellspacing="0" cellpadding="0">
                                                            <tbody><tr>
                                                                
                                                                    <td width="18" valign="middle" align="center" class="mcnFollowIconContent">
                                                                        <a target="_blank" href="http://www.twitter.com/yanapanawear"><img width="24" height="24" class="" style="display:block;" src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/cdn-images.mailchimp.com/icons/social-block/dark-twitter-128.png"></a>
                                                                    </td>
                                                                
                                                                
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>
                            
                        
                            
                            
                                <table border="0" align="left" cellspacing="0" cellpadding="0">
                                    <tbody><tr>
                                        <td valign="top" class="mcnFollowContentItemContainer" style="padding-right:10px; padding-bottom:9px;">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mcnFollowContentItem">
                                                <tbody><tr>
                                                    <td valign="middle" align="left" style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;">
                                                        <table width="" border="0" align="left" cellspacing="0" cellpadding="0">
                                                            <tbody><tr>
                                                                
                                                                    <td width="18" valign="middle" align="center" class="mcnFollowIconContent">
                                                                        <a target="_blank" href="http://www.pinterest.com/yanapanawear"><img width="24" height="24" class="" style="display:block;" src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/cdn-images.mailchimp.com/icons/social-block/dark-pinterest-128.png"></a>
                                                                    </td>
                                                                
                                                                
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>
                            
                        
                            
                            
                                <table border="0" align="left" cellspacing="0" cellpadding="0">
                                    <tbody><tr>
                                        <td valign="top" class="mcnFollowContentItemContainer" style="padding-right:10px; padding-bottom:9px;">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mcnFollowContentItem">
                                                <tbody><tr>
                                                    <td valign="middle" align="left" style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;">
                                                        <table width="" border="0" align="left" cellspacing="0" cellpadding="0">
                                                            <tbody><tr>
                                                                
                                                                    <td width="18" valign="middle" align="center" class="mcnFollowIconContent">
                                                                        <a target="_blank" href="http://yanapana.com"><img width="24" height="24" class="" style="display:block;" src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/cdn-images.mailchimp.com/icons/social-block/dark-link-128.png"></a>
                                                                    </td>
                                                                
                                                                
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>
                            
                        
                            
                            
                                <table border="0" align="left" cellspacing="0" cellpadding="0">
                                    <tbody><tr>
                                        <td valign="top" class="mcnFollowContentItemContainer" style="padding-right:0; padding-bottom:9px;">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mcnFollowContentItem">
                                                <tbody><tr>
                                                    <td valign="middle" align="left" style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;">
                                                        <table width="" border="0" align="left" cellspacing="0" cellpadding="0">
                                                            <tbody><tr>
                                                                
                                                                    <td width="18" valign="middle" align="center" class="mcnFollowIconContent">
                                                                        <a target="_blank" href="http://www.youtube.com/yanapanawear"><img width="24" height="24" class="" style="display:block;" src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/cdn-images.mailchimp.com/icons/social-block/dark-youtube-128.png"></a>
                                                                    </td>
                                                                
                                                                
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>
                            
                        
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>

            </td>
        </tr>
    </tbody>
</table></div>

    <div class="tpl-block-controls">
        <a class="tpl-block-drag dojoDndHandle" href="javascript:void(0)" title="Drag to Reorder"><span class="icon32w icon-drag_32w">Drag</span></a>

        <a data-dojo-attach-point="editBtn" class="tpl-block-edit" href="#" title="Edit Block"><span class="icon32w icon-edit_32w">Edit</span></a>
        <a data-dojo-attach-point="cloneBtn" class="tpl-block-clone" href="#" title="Duplicate Block"><span class="icon32w icon-clone_32w">Clone</span></a>
        <a data-dojo-attach-point="deleteBtn" class="tpl-block-delete" href="#" title="Delete Block"><span class="icon32w icon-trash_32w">Delete</span></a>
    </div>

</div><div class="mojoMcBlock tpl-block dojoDndItem" id="mojo_neapolitan_preview_McBlock_11" widgetid="mojo_neapolitan_preview_McBlock_11">

    <!-- Content of the block will get inserted inside of this -->
    <div data-dojo-attach-point="containerNode"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="mcnTextBlock">
    <tbody class="mcnTextBlockOuter">
        <tr>
            <td valign="top" class="mcnTextBlockInner">
                
                <table width="600" border="0" align="left" cellspacing="0" cellpadding="0" class="mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;" class="mcnTextContent">
                        
                            <em>Copyright &copy; *|CURRENT_YEAR|* *|LIST:COMPANY|*, All rights reserved.</em><br>
*|IFNOT:ARCHIVE_PAGE|* *|LIST:DESCRIPTION|*<br>
<br>
<strong>Our mailing address is:</strong><br>
*|HTML:LIST_ADDRESS_HTML|* *|END:IF|* <a href="*|UNSUB|*" class="utilityLink">unsubscribe from this list</a>&nbsp;&nbsp;&nbsp; <a href="*|UPDATE_PROFILE|*" class="utilityLink">update subscription preferences</a>&nbsp;<br>
<br>
*|IF:REWARDS|* *|HTML:REWARDS|* *|END:IF|*
                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table></div>

    <div class="tpl-block-controls">
        <a class="tpl-block-drag dojoDndHandle" href="javascript:void(0)" title="Drag to Reorder"><span class="icon32w icon-drag_32w">Drag</span></a>

        <a data-dojo-attach-point="editBtn" class="tpl-block-edit" href="#" title="Edit Block"><span class="icon32w icon-edit_32w">Edit</span></a>
        <a data-dojo-attach-point="cloneBtn" class="tpl-block-clone" href="#" title="Duplicate Block"><span class="icon32w icon-clone_32w">Clone</span></a>
        <a data-dojo-attach-point="deleteBtn" class="tpl-block-delete" href="#" title="Delete Block"><span class="icon32w icon-trash_32w">Delete</span></a>
    </div>

</div></td>
                                        </tr>
                                    </tbody></table>
                                    <!-- // END FOOTER -->
                                </td>
                            </tr>
                        </tbody></table>
                        <!-- // END TEMPLATE -->
                    </td>
                </tr>
            </tbody></table>
        </center>
    <div class="extra-controls"></div>

</body></html>