<div class="section_container jean pb">
	<section>
	    <div class="full_page">
              <ul class="breadcrumb">
				    <li><%= link_to "Home", root_path %></li>
				    <li class="active">FAQ</li>
			</ul>
			<h1>faq </h1>
                        <h2 class="sub_title">Q:  Diigo in Education?</h2>
                        <p>The 21st century calls for knowledge workers who can effectively utilize the vast array of information that resides on the internet and who are capable of processing the information collaboratively with others.  Bob Wolf, of The Boston Consulting Group, and a researcher on the use of internet in public education recently commented: "We believe that Web2.0 technologies will define and be defined by the skill requirements of the 21st century workforce. It is time to understand whether models have emerged for using these tools that are superior to traditional classroom teaching alone and what are the best approaches for the practitioner to implement them."

In the education setting, we all know that project-based learning is an effective way to teach students and cultivate their skills of finding, organizing, synthesizing, and presenting information, as well as the social skills of working in groups, all of which are necessary in the knowledge-based economy. Among the web 2.0 technologies, Diigo is a great tool for this kind of exploratory and collaborative learning. 
Diigo is an effective tool for teaching as well. Diigo's features allow teachers to highlight critical features within text and images and write comments directly on the web pages, to collect and organize series of web pages and web sites into coherent and thematic sets, and to facilitate online conversations within the context of the materials themselves.  Diigo also allows teachers to collaborate and share resources among themselves.

Diigo is much more than a simple web annotation or social bookmarking service -- it is a new kind of online research and collaborative research tool that integrates tags and folders, highlighting and clipping, sticky notes, and group-based collaboration, enabling a whole new process of online knowledge management, learning, and teaching in the information age.
                        </p>
                        <h2 class="sub_title">Q: What kind of Education Accounts do Diigo offer?</h2>
                        <p>
                          These are now 2 types of Diigo Education Offerings: 
<ul>
   <li>Diigo Education Domain (school) ~ new! </li>
    <li>Diigo Educator Accounts (teacher)  - see below</li>
    </ul>
<p>
For more info on "Diigo Education Domain", please see Diigo Education Domain FAQ's and Getting Started Guide (work-in-progress) 
                        </p>
                        <h2 class="sub_title">Q: What are student accounts?</h2>
                        <p>Student accounts are Diigo accounts created by approved teachers through their Teacher Console. Note that accounts created through the normal sign-up process are NOT student accounts. </p>
                        <p>Student accounts have the following special settings to protect the privacy and safety of students. </p>
                        <ul>
                         <li>Classmates
in the same class are automatically added as friends with one another
to facilitate communication, but students cannot add anyone else as
friends except through email. <br></li><li>Students can only
communicate with their friends and teachers.&nbsp; No one except their
friends can send message, group invite, or write on their profile wall. <br></li><li>Student profiles will not be indexed for People Search, nor made available to public search engines. <br></li>
                        </ul>
                        <h2 class="sub_title">Q:  Diigo in Education?</h2>
                        <p>The 21st century calls for knowledge workers who can effectively utilize the vast array of information that resides on the internet and who are capable of processing the information collaboratively with others.  Bob Wolf, of The Boston Consulting Group, and a researcher on the use of internet in public education recently commented: "We believe that Web2.0 technologies will define and be defined by the skill requirements of the 21st century workforce. It is time to understand whether models have emerged for using these tools that are superior to traditional classroom teaching alone and what are the best approaches for the practitioner to implement them."

In the education setting, we all know that project-based learning is an effective way to teach students and cultivate their skills of finding, organizing, synthesizing, and presenting information, as well as the social skills of working in groups, all of which are necessary in the knowledge-based economy. Among the web 2.0 technologies, Diigo is a great tool for this kind of exploratory and collaborative learning. 
Diigo is an effective tool for teaching as well. Diigo's features allow teachers to highlight critical features within text and images and write comments directly on the web pages, to collect and organize series of web pages and web sites into coherent and thematic sets, and to facilitate online conversations within the context of the materials themselves.  Diigo also allows teachers to collaborate and share resources among themselves.

Diigo is much more than a simple web annotation or social bookmarking service -- it is a new kind of online research and collaborative research tool that integrates tags and folders, highlighting and clipping, sticky notes, and group-based collaboration, enabling a whole new process of online knowledge management, learning, and teaching in the information age.
                        </p>
                        <h2 class="sub_title">Q: What kind of Education Accounts do Diigo offer?</h2>
                        <p>
                          These are now 2 types of Diigo Education Offerings: 
<ul>
   <li>Diigo Education Domain (school) ~ new! </li>
    <li>Diigo Educator Accounts (teacher)  - see below</li>
    </ul>
<p>
For more info on "Diigo Education Domain", please see Diigo Education Domain FAQ's and Getting Started Guide (work-in-progress) 
                        </p>
                        <h2 class="sub_title">Q: What are student accounts?</h2>
                        <p>Student accounts are Diigo accounts created by approved teachers through their Teacher Console. Note that accounts created through the normal sign-up process are NOT student accounts. </p>
                        <p>Student accounts have the following special settings to protect the privacy and safety of students. </p>
                        <ul>
                         <li>Classmates
in the same class are automatically added as friends with one another
to facilitate communication, but students cannot add anyone else as
friends except through email. <br></li><li>Students can only
communicate with their friends and teachers.&nbsp; No one except their
friends can send message, group invite, or write on their profile wall. <br></li><li>Student profiles will not be indexed for People Search, nor made available to public search engines. <br></li>
                        </ul>
            
            
            </div>	
	</section>    
</div>