<div class="section_container jean pb">
	<section>
		<ul class="breadcrumb">
				    <li><%= link_to "Home", root_path %></li>
				    <li class="active">FAQ</li>
			</ul>
	    <div class="full_page" id="faq-style">
			<h1>Frequently Asked Questions </h1>
			<div class="faq-index">
			<h2 class="sub_title">Index</h2>
			<ul>
				<li><a href="#secure">Secure Payment</a></li>
				<li><a href="#order">Order Tracking</a></li>
				<li><a href="#shipping">Shipping</a></li>
				<li><a href="#return">Return Policy</a></li>
				<li><a href="#fabric">What is the quality of the fabrics?</a></li>
				<li><a href="#suggestions">Can i suggest some designs or ideas?</a></li>
				
			</ul>
                        </div>
			<ul>
				<li>
					<a name="secure"><h2 class="sub_title">Q:  Secure Payment</h2></a>
					<p>The 21st century calls for knowledge workers who can effectively utilize the vast array of information that resides on the internet and who are capable of processing the information collaboratively with others.  Bob Wolf, of The Boston Consulting Group, and a researcher on the use of internet in public education recently commented: "We believe that Web2.0 technologies will define and be defined by the skill requirements of the 21st century workforce. It is time to understand whether models have emerged for using these tools that are superior to traditional classroom teaching alone and what are the best approaches for the practitioner to implement them."

					In the education setting, we all know that project-based learning is an effective way to teach students and cultivate their skills of finding, organizing, synthesizing, and presenting information, as well as the social skills of working in groups, all of which are necessary in the knowledge-based economy. Among the web 2.0 technologies, Diigo is a great tool for this kind of exploratory and collaborative learning. 
					Diigo is an effective tool for teaching as well. Diigo's features allow teachers to highlight critical features within text and images and write comments directly on the web pages, to collect and organize series of web pages and web sites into coherent and thematic sets, and to facilitate online conversations within the context of the materials themselves.  Diigo also allows teachers to collaborate and share resources among themselves.

					Diigo is much more than a simple web annotation or social bookmarking service -- it is a new kind of online research and collaborative research tool that integrates tags and folders, highlighting and clipping, sticky notes, and group-based collaboration, enabling a whole new process of online knowledge management, learning, and teaching in the information age.
					</p>
				</li>
				<li>
					<a name="order"><h2 class="sub_title">Q:  Order Tracking</h2></a>
					<p>The 21st century calls for knowledge workers who can effectively utilize the vast array of information that resides on the internet and who are capable of processing the information collaboratively with others.  Bob Wolf, of The Boston Consulting Group, and a researcher on the use of internet in public education recently commented: "We believe that Web2.0 technologies will define and be defined by the skill requirements of the 21st century workforce. It is time to understand whether models have emerged for using these tools that are superior to traditional classroom teaching alone and what are the best approaches for the practitioner to implement them."

					In the education setting, we all know that project-based learning is an effective way to teach students and cultivate their skills of finding, organizing, synthesizing, and presenting information, as well as the social skills of working in groups, all of which are necessary in the knowledge-based economy. Among the web 2.0 technologies, Diigo is a great tool for this kind of exploratory and collaborative learning. 
					Diigo is an effective tool for teaching as well. Diigo's features allow teachers to highlight critical features within text and images and write comments directly on the web pages, to collect and organize series of web pages and web sites into coherent and thematic sets, and to facilitate online conversations within the context of the materials themselves.  Diigo also allows teachers to collaborate and share resources among themselves.

					Diigo is much more than a simple web annotation or social bookmarking service -- it is a new kind of online research and collaborative research tool that integrates tags and folders, highlighting and clipping, sticky notes, and group-based collaboration, enabling a whole new process of online knowledge management, learning, and teaching in the information age.
					</p>
				</li>
				<li>
					<a name="shipping"><h2 class="sub_title">Q:  Shipping</h2></a>
					<p>The 21st century calls for knowledge workers who can effectively utilize the vast array of information that resides on the internet and who are capable of processing the information collaboratively with others.  Bob Wolf, of The Boston Consulting Group, and a researcher on the use of internet in public education recently commented: "We believe that Web2.0 technologies will define and be defined by the skill requirements of the 21st century workforce. It is time to understand whether models have emerged for using these tools that are superior to traditional classroom teaching alone and what are the best approaches for the practitioner to implement them."

					In the education setting, we all know that project-based learning is an effective way to teach students and cultivate their skills of finding, organizing, synthesizing, and presenting information, as well as the social skills of working in groups, all of which are necessary in the knowledge-based economy. Among the web 2.0 technologies, Diigo is a great tool for this kind of exploratory and collaborative learning. 
					Diigo is an effective tool for teaching as well. Diigo's features allow teachers to highlight critical features within text and images and write comments directly on the web pages, to collect and organize series of web pages and web sites into coherent and thematic sets, and to facilitate online conversations within the context of the materials themselves.  Diigo also allows teachers to collaborate and share resources among themselves.

					Diigo is much more than a simple web annotation or social bookmarking service -- it is a new kind of online research and collaborative research tool that integrates tags and folders, highlighting and clipping, sticky notes, and group-based collaboration, enabling a whole new process of online knowledge management, learning, and teaching in the information age.
					</p>
				</li>
				<li>
					<a name="return"><h2 class="sub_title">Q:  Return Policy</h2></a>
					<p>The 21st century calls for knowledge workers who can effectively utilize the vast array of information that resides on the internet and who are capable of processing the information collaboratively with others.  Bob Wolf, of The Boston Consulting Group, and a researcher on the use of internet in public education recently commented: "We believe that Web2.0 technologies will define and be defined by the skill requirements of the 21st century workforce. It is time to understand whether models have emerged for using these tools that are superior to traditional classroom teaching alone and what are the best approaches for the practitioner to implement them."

					In the education setting, we all know that project-based learning is an effective way to teach students and cultivate their skills of finding, organizing, synthesizing, and presenting information, as well as the social skills of working in groups, all of which are necessary in the knowledge-based economy. Among the web 2.0 technologies, Diigo is a great tool for this kind of exploratory and collaborative learning. 
					Diigo is an effective tool for teaching as well. Diigo's features allow teachers to highlight critical features within text and images and write comments directly on the web pages, to collect and organize series of web pages and web sites into coherent and thematic sets, and to facilitate online conversations within the context of the materials themselves.  Diigo also allows teachers to collaborate and share resources among themselves.

					Diigo is much more than a simple web annotation or social bookmarking service -- it is a new kind of online research and collaborative research tool that integrates tags and folders, highlighting and clipping, sticky notes, and group-based collaboration, enabling a whole new process of online knowledge management, learning, and teaching in the information age.
					</p>
				</li>
				<li>
					<a name="fabric"><h2 class="sub_title">Q:  Fabric Quality</h2></a>
					<p>The 21st century calls for knowledge workers who can effectively utilize the vast array of information that resides on the internet and who are capable of processing the information collaboratively with others.  Bob Wolf, of The Boston Consulting Group, and a researcher on the use of internet in public education recently commented: "We believe that Web2.0 technologies will define and be defined by the skill requirements of the 21st century workforce. It is time to understand whether models have emerged for using these tools that are superior to traditional classroom teaching alone and what are the best approaches for the practitioner to implement them."

					In the education setting, we all know that project-based learning is an effective way to teach students and cultivate their skills of finding, organizing, synthesizing, and presenting information, as well as the social skills of working in groups, all of which are necessary in the knowledge-based economy. Among the web 2.0 technologies, Diigo is a great tool for this kind of exploratory and collaborative learning. 
					Diigo is an effective tool for teaching as well. Diigo's features allow teachers to highlight critical features within text and images and write comments directly on the web pages, to collect and organize series of web pages and web sites into coherent and thematic sets, and to facilitate online conversations within the context of the materials themselves.  Diigo also allows teachers to collaborate and share resources among themselves.

					Diigo is much more than a simple web annotation or social bookmarking service -- it is a new kind of online research and collaborative research tool that integrates tags and folders, highlighting and clipping, sticky notes, and group-based collaboration, enabling a whole new process of online knowledge management, learning, and teaching in the information age.
					</p>
				</li>
				<li>
					<a name="suggestions"><h2 class="sub_title">Q:  Comments and suggestions</h2></a>
					<p>The 21st century calls for knowledge workers who can effectively utilize the vast array of information that resides on the internet and who are capable of processing the information collaboratively with others.  Bob Wolf, of The Boston Consulting Group, and a researcher on the use of internet in public education recently commented: "We believe that Web2.0 technologies will define and be defined by the skill requirements of the 21st century workforce. It is time to understand whether models have emerged for using these tools that are superior to traditional classroom teaching alone and what are the best approaches for the practitioner to implement them."

					In the education setting, we all know that project-based learning is an effective way to teach students and cultivate their skills of finding, organizing, synthesizing, and presenting information, as well as the social skills of working in groups, all of which are necessary in the knowledge-based economy. Among the web 2.0 technologies, Diigo is a great tool for this kind of exploratory and collaborative learning. 
					Diigo is an effective tool for teaching as well. Diigo's features allow teachers to highlight critical features within text and images and write comments directly on the web pages, to collect and organize series of web pages and web sites into coherent and thematic sets, and to facilitate online conversations within the context of the materials themselves.  Diigo also allows teachers to collaborate and share resources among themselves.

					Diigo is much more than a simple web annotation or social bookmarking service -- it is a new kind of online research and collaborative research tool that integrates tags and folders, highlighting and clipping, sticky notes, and group-based collaboration, enabling a whole new process of online knowledge management, learning, and teaching in the information age.
					</p>
				</li>
                        </ul>
            
            
            </div>	
	</section>    
</div>