<div class="section_container jean pb">
        <!--Mid Section Starts-->
        <section>
            <ul class="breadcrumb">
                <li><%= link_to "Home", root_path %></li>
                <li class="active">how to sell</li>
            </ul>
            
         
            
            <div class="full_page">
                <h1>Submit Your Designs and Become a Featured Artists!  </h1>
                <div class="howtosell-img"></div>
                    <h2 class="sub_title">Step 1</h2>
                        <p>Create a T-Shirt design (maximum of TWO ink colors) that you think the world would like to wear. The Subject of your design can be anything (ex. Funny or topical slogans, pop culture and political references, or strictly artistic designs).
                        One thing to remember: Soft gradients should be turned into halftones to facilitate the printing process.
                        </p>
                    <h2 class="sub_title">Step 2</h2>
                        <p>Login or Create a User Account. Next, upload the title, description, and 3 images of your finished design: A 600 x 600 detailed version, a 350 x 400 placement version, and a 185 x 185 thumbnail version.
                        </p>
                        <p>The placement version is an image of your design on a t-shirt. Please download our Photoshop or Illustrator template to help create the placement version.</p>
                    <h2 class="sub_title">Step 3</h2>
                        <p>
                            Sit back, relax, and wait for your submission to go live and be voted on by the community. The criteria we use to pick winning designs is the overall score, the amount of votes, critiques and comments, and, of course, the design itself. We try to pick 5 winners per week depending on the amount of submissions received and our production capacity.
                        </p>

        </section>
        <!--Mid Section Ends-->
    </div>
