<div class="section_container jean pb">
        <!--Mid Section Starts-->
        <section>
            <ul class="breadcrumb">
                <li><%= link_to "Home", root_path %></li>
                <li class="active">Get involved</li>
            </ul>



            <div class="full_page">
                <h1>Submit Your Designs</h1>
                <%= image_tag ("image-yanapana/banner-howitworks.jpg"), :class=>'contact-img'%>
                <a name="submityourdesigns"></a>
                    <p>At YANAPANA, we are constantly on the look for talented artists who believe in what we do and want to help us make this a better world.
                    </p>
                    <p>If chosen to design for us, you will be featured on our site as our “GUEST ARTIST”.  By doing this, you will gain fame and recognition from our community plus you will also earn a cash prize.
                    </p>
                    <p>At this moment, we are looking for artists who either are or have strong ties with the following countries:
                    </p>
                    <ul class="list-style">
                        <li><strong>Africa:</strong> Algeria, Angola, Burkina Faso, Cameroon, Democratic Republic of Congo, Gambia, Ghana, Madagascar, Malawi, Morocco, Namibia, Niger, Rwanda, Senegal, South Africa, Somalia, Sudan, Tanzania, Uganda, Zambia, Zimbabwe, etc.
                        </li>
                        <li><strong>Asia:</strong> Afghanistan, Bangladesh, Cambodia, China, India, Indonesia, Iran, Jordan, Malaysia, Mongolia, Myanmar, Pakistan, Philippines, South Korea, Sri Lanka, Thailand, Turkey, Vietnam, Yemen, etc.
                        </li>
                        <li><strong>Europe:</strong>
                            Moldova, Poland, Serbia, etc.
                        </li>
                        <li><strong>Americas and Caribbean:</strong> Belize, Bolivia, Brazil, Canada, Colombia, , Chile, Dominican Republic, Ecuador, El Salvador, Guatemala, Haiti, Jamaica, Mexico, Nicaragua, Panama, Paraguay, Peru, United States, etc.
                    </ul>
                    <p>Ready to get started? Follow these steps</p>

                    <h2 class="sub_title">Step 1</h2>
                        <p>Show us a sample of your work! Create a T-shirt design of maximum 2 ink colors that you think the world would like to wear.  The subject of your design should provide a graphical connection between wome3n and the country that you represent (feel free to use your imagination, but remember that your design should be family friendly, positive and inspiring).
                        </p>
                    <h2 class="sub_title">Step 2</h2>
                        <p>Login or Create a User Account. Next, upload the title, description, and 3 images of your finished design: A 600 x 600 detailed version, a 350 x 400 placement version, and a 185 x 185 thumbnail version.
                        </p>
                    <h2 class="sub_title">Step 3</h2>
                        <p>
                            If your design goes “Wow” on us, we will notify you by email within 90 days of your submission and invite you to participate with us.
                        </p>
                        <p>
                            There is no limit on the number of designs that you can submit.
                        </p>
                        <p>
                            At our discretion, we reserve the right to reject any submission we deem offensive or inappropriate.
                        </p>
                    <div id="form-title">
                        <span>step 4: Please fill out the form below to submit your designs</span>

                    </div>


                <div id="jotform" class="snow">
                    <script type="text/javascript" src="http://spanish.jotform.com/jsform/30987010939864"></script>
                </div>


        </section>
        <!--Mid Section Ends-->
