<div class="section_container jean pb">
        <!--Mid Section Starts-->
        <section>
            <ul class="breadcrumb">
                <li><%= link_to "Home", root_path %></li>
                <li class="active">Get involved</li>
            </ul>



            <div class="full_page">
                <h1>Submit Your Designs</h1>
                <%= image_tag ("image-yanapana/banner-howitworks.jpg"), :class=>'contact-img'%>
                <a name="submityourdesigns"></a>
                <p>Here at YANAPANA, we are always interested in cooperating with artists who share our mission and want to join our movement.
                </p>
                    <p>Want to show us what you’ve got?</p>
                    <div id="form-title">
                        <span> Please fill out the form below to submit your designs</span>

                    </div>


                <div id="jotform" class="snow">
                    <script type="text/javascript" src="http://spanish.jotform.com/jsform/30987010939864"></script>
                </div>


        </section>
        <!--Mid Section Ends-->
</div>
