<div class="section_container jean pb">
        <!--Mid Section Starts-->
        <section>
            <ul class="breadcrumb">
                <li><%= link_to "Home", root_path %></li>
                <li class="active">get involved</li>
            </ul>



            <div class="full_page">
                <h1>Submit Your Organization</h1>
                <%= image_tag ("image-yanapana/banner_partnership.jpg"), :class=>'contact-img'%>
                <a name="submityourdesigns"></a>
                <p>Do you know an inspiring organization that helps children, helps fight hunger or helps the development of women?</p>
                        <p>If so, we would love to hear about it and be able to raise funds and awareness for it.
                        </p>

                    <div id="form-title">
                        <span>Please use the contact form below to tell us more about who they are</span>
                        <h2></h2>
                    </div>




                    <div id="jotform" class="snow">
						<script type="text/javascript" src="http://spanish.jotform.com/jsform/30995347213861"></script>
					</div>

        </section>
</div>
