<div class="section_container jean pb">
        <!--Mid Section Starts-->
        <section>
            <ul class="breadcrumb">
                <li><%= link_to "Home", root_path %></li>
                <li class="active">Terms and Conditions</li>
            </ul>



            <div class="full_page">
                <h1>Yanapana Design Submission Rules </h1>
                <p>In submitting a design to YANAPANA, you agree to the following terms: </p>
                <p>All submitted designs are to be no more than two ink colors (The third color will be the shirt itself). Designs having more than two ink colors will not be evaluated. </p>
                <p>Works published anywhere else are not eligible. </p>
                <p>All work must be original.  Celebrities, logos, trademarks, or copyrighted material may not be used in your design. </p>    
                <p>All submitted designs become the temporary property of YANAPANA for 90 days from the original submission date. During that period the participant should not use the designs for any other purpose. If we choose to use your design, you understand that we retain permanent exclusive rights to that design for commercial use on apparel and other products, and you hereby assign such rights to YANAPANA. If you are not in agreement with this please do not submit a design on our site. If we don't contact you within the 90-day window, you automatically retain full rights to the design that you sent us. </p>  
                <p>We reserve the right to reject any submission we deem offensive or inappropriate. </p>    
                <p>We reserve the right to make changes to your design that will make the printing process easier. This could result in an ink color or sizing change. </p>
                <p>Prizes are awarded as follows: </br>Winners are featured on our “Guest Artist” section + earn a $150 cash prize.</p>
                <p>Creators of selected designs will receive their cash prize in U.S. Dollars via PayPal.  You will receive the payment 30 days after the one-week campaign has ended.</p>
                


        </section>
        <!--Mid Section Ends-->
