<div class="section_container jean pb">
        <!--Mid Section Starts-->
        <section>
            <ul class="breadcrumb">
                <li><%= link_to "Home", root_path %></li>
                <li class="active">Terms and Conditions</li>
            </ul>



            <div class="full_page">
                <h1>Yanapana Terms of Service </h1>
                <h3>1.  Introduction</h3>

<p>Thank you for visiting YANAPANA, an online clothes retailer with a charitable aim.  Please read these Terms of Service and our Privacy Policy carefully, as you must agree to both as a condition of using our Service.</p>

<h3>2.  Definitions</h3>

<p>Throughout this Agreement, we may use certain words or phrases, and it is important that you understand the meaning of them.  The list is not all-encompassing and no definition should be considered binding to the point that it renders this Agreement nonsensical:</p>

<p>“Agreement” means these Terms of Service;</p>

<p>“Artist” refers to a User who submits art to our Service for printing on our merchandise;</p>

<p>“Service” refers to the goods and services that we provide through our Site, including our apparel and our Site itself;</p>

<p>“Site” refers to our website, www.yanapana.com ;</p>

<p>“User” refers to Artists, purchasing customers, and anyone else who uses our Service, including without limiting the generality of the foregoing, general visitors to our Site;</p>

<p>“YANAPANA” refers to our company, known as “YANAPANA, LLC”; our Site; our Service; or a combination of all or some of the preceding definitions, depending on the context of the word;</p>

<p>“You” refers to you, the person who is entering into this Agreement with YANAPANA.</p>

<h3>3.  What YANAPANA Does</h3>

<p>YANAPANA is a social enterprise that combines fashion and solidarity to help children and women in need.</p>

<p>Our goal is to make trendy apparel that donates a part of Service to help fight child hunger, as well as support child education and help women in different areas of development.</p>

<h3>4.  Eligibility</h3>

<p>In order to use our Service, you must meet a number of conditions, including but not limited to:</p>

<p>You must not be in violation of any embargoes, export controls, or other laws of the United States or other countries having jurisdiction over this Agreement, YANAPANA, and yourself.  </p>
<p>For example, if the Office of Foreign Assets Control prohibits conducting financial transactions with nationals, residents, or banks of your country, you must not use our Service.</p>
<p>You must be the minimum age required to enter into a contract in the area in which you reside, and, in any event, must not be less than 18 years of age.</p>
<p>If you are an Artist, you must have the intellectual property rights over any designs that you intend to submit to us.</p>
<p>You must provide us with personal information, payment information, and other information that we deem necessary to provide you with our Service.</p>

<h3>5.  Rules of Use</h3>

<p>The following rules apply to all Users.  You must not:</p>

<p>Violate the laws of the United States, its states, or any foreign political entity having jurisdiction over this Agreement, whether or not the foreign political entity is a country or a subdivision (such as a state or province) or municipality (such as a city, town, county, or region) of a foreign country.</p>
<p>Post or send anything violent, threatening, pornographic, racist, hateful, or otherwise objectionable according to the opinion of YANAPANA or its delegates.  We reserve the right to reject any submissions by Artists which violate these content guidelines.</p>
<p>Infringe on anyone’s intellectual property rights, defame anyone, impersonate anyone, or otherwise violate the rights of a third party.</p>
<p>Hack, crack, phish, SQL inject, or otherwise compromise the security or integrity of the YANAPANA Site, Service, or its Users’ computers.</p>
<p>Do anything else which, at YANAPANA’s sole discretion, could bring YANAPANA into disrepute or infringe on the rights of any third party.</p>

<h3>6.  Payment</h3>

<p>Payment can be made by PayPal or any major credit card.  All prices, unless otherwise indicated, are listed in United States dollars.</p>

<p>All orders are shipped the Wednesday after the week that you ordered, unless otherwise noted or notified to You.  Users are notified by e-mail as soon as their order leaves our facility, and are offered a tracking method whenever possible.  Shipping methods include but are not limited to USPS, DHL, and UPS. </p>
 
<p>Normal delivery times depend on the shipping address.  Upon dispatch, normal times within the USA are 3-8 business days and 3-4 weeks internationally. </p>
 
<p>Orders shipping outside the USA may be subject to customs fees and other charges.  It is the sole responsibility of the User to get informed about and pay such charges.  We encourage Users to contact their local customs office to learn about the costs associated with receiving merchandise.</p>

<h3>7.  Refund Policy</h3>

<p>All purchases made through our online store are final.</p> 
 
<p>If the product is damaged upon arrival, the User has 30 days to send it back.  Upon receipt, YANAPANA will examine the item and if it is considered defective, we will offer an exchange or return. </p>
 
<p>Due to the fact that all of the items sold through our online store are limited-edition, and we do not keep a stock of them, we will offer you an exchange for a similar item found on our online store during the current weekly campaign in which your exchange is approved.  Exchanges or returns will not be granted if you order the wrong size, style, or had a change of mind.  If you have questions about the order that you are about to place, please check, double check, and feel free to ask as many questions as needed to make sure that you order the correct item.  YANAPANA will reimburse shipping charges up to $9.00 only on item(s) deemed defective. </p>
 
<p>All returns must be sent in their original shipping bags, unworn and unwashed, with original labels and package contents to:</p>

<p>YANAPANA <br>
PO BOX 4050 <br>
Bellflower, CA 90707</p>

<h3>8.  Chargebacks and PayPal Disputes</h3>

<p>Where a User provides payment to YANAPANA through PayPal or directly by credit card, and that amount of money is subsequently taken from YANAPANA due to a chargeback, PayPal dispute, or other action that is the fault of the User, YANAPANA is entitled to recover that amount from the User, as well as any attorneys’ fees, collection agency fees, court costs, disbursements, or other expenses incurred in the enforcement of YANAPANA’s rights under this section.  Users may initiate disputes according to the “Forum of Dispute” provisions found further below.</p>

<h3>9.  Our Copyright</h3>

<p>YANAPANA’s business model focuses on the creation and licensing of unique content which distinguishes our apparel from third parties.  You agree not to copy, distribute, display, disseminate, or otherwise reproduce any of the information on the Site, including designs submitted by third parties to YANAPANA, without receiving our prior written permission.</p>

<h3>10.  Your Copyright</h3>

<p>YANAPANA must be assured that it has the right to use the content that is posted to its Site by its Artists and other Users.  Such content may include, but is not limited to, photographs, videos, text, audio, and other materials.  Whenever submitting content to our Site, you agree that you are granting us a non-exclusive, universal, perpetual, irrevocable, sublicensable, commercial and non-commercial right to use, distribute, sell, publish, and otherwise make use of the content that you submit to us.  You warrant to us that you have the right to grant us this right over the content, and that you will indemnify us for any loss resulting from a breach of this warranty and defend us against claims regarding the same.</p>

<p>For Artists submitting content to us, the following specific terms apply:</p>

<p>1)  All submitted designs are to be no more than two ink colors (the third color will be the shirt itself). Designs having more than two ink colors will not be evaluated. </p>
 
<p>2)  Works published anywhere else are not eligible.</p> 
 
<p>3)  All work must be original. Celebrities, logos, trademarks, or third party copyrighted material may not be used in your design.</p>  
 
<p>4)  All submitted designs become the temporary property of YANAPANA for 90 days from the original submission date.  During that period the participant should not use the designs for any other purpose.  If we choose to use your design, you understand that we retain permanent exclusive rights to that design for commercial use on apparel and other products, and you hereby assign such rights to YANAPANA.  If you are not in agreement with this please do not submit a design on our Site.  If we don’t contact you within the 90-day window, you automatically retain full rights to the design that you sent us.  </p>
 
<p>5)  We reserve the right to reject any submission we deem offensive or inappropriate. </p>
 
<p>6)  We reserve the right to make changes to your design that will make the printing process easier.  This could result in an ink color or sizing change.  </p>
 
<p>7)  Creators of selected designs will receive a $100.00 cash prize paid in U.S. Dollars via PayPal.  You will receive the payment within 30 days from the date that your design was featured.  You must have a valid PayPal account to benefit from this prize.  We are not responsible for any fees that you may encounter in accessing your funds or any holds placed on your account by PayPal.</p>


<h3>11.  Trademarks

<p>“YANAPANA” is a trademark used by us, YANAPANA, LLC, to uniquely identify our Site, Service, and business.  You agree not to use this phrase anywhere without our prior written consent.  Additionally, you agree not to use our trade dress, or copy the look and feel of our Site or its design, without our prior written consent.  You agree that this paragraph goes beyond the governing law on intellectual property law, and includes prohibitions on any competition that violates the provisions of this paragraph, including starting your own apparel business.</p>

<h3>12.  Revocation of Consent</h3>

<p>We may revoke our consent for your use of our intellectual property, or any other permission granted to you under this Agreement, at any time.  You agree that if we so request, you must take immediate action to remove any usage of our intellectual property that you may have engaged in, even if it would cause a loss to you.</p>

<h3>13.  Copyright & Trademark Infringement

<p>We take copyright infringement very seriously, and we have registered a Copyright Agent with the United States Copyright Office, which limits our liability under the Digital Millennium Copyright Act.  If you believe that your copyright has been infringed, please send us a message which contains:</p>

 

<p>Your name.<br>
The name of the party whose copyright has been infringed, if different from your name.<br>
The name and description of the work that is being infringed.<br>
The location on our website of the infringing copy.<br>
A statement that you have a good faith belief that use of the copyrighted work described above is not authorized by the copyright owner (or by a third party who is legally entitled to do so on behalf of the copyright owner) and is not otherwise permitted by law.<br>
A statement that you swear, under penalty of perjury, that the information contained in this notification is accurate and that you are the copyright owner or have an exclusive right in law to bring infringement proceedings with respect to its use.<br>
You must sign this notification electronically and send it to our Copyright Agent at hello@yanapana.com.</p>

 

<p>Although U.S. law does not provide for a similar procedure for trademark infringement, we recommend that you send us similar information to that above in regards to any allegation of trademark infringement, and we will address it as soon as practicable.</p>

<h3>14.  Representations & Warranties</h3>

<p>WE MAKE NO REPRESENTATIONS OR WARRANTIES AS TO THE MERCHANTABILITY OF OUR SERVICE OR FITNESS FOR ANY PARTICULAR PURPOSE.  YOU AGREE THAT YOU ARE RELEASING US FROM ANY LIABILITY THAT WE MAY OTHERWISE HAVE TO YOU IN RELATION TO OR ARISING FROM THIS AGREEMENT OR OUR SERVICES, FOR REASONS INCLUDING, BUT NOT LIMITED TO, FAILURE OF OUR SERVICE, NEGLIGENCE, OR ANY OTHER TORT.  TO THE EXTENT THAT APPLICABLE LAW RESTRICTS THIS RELEASE OF LIABILITY, YOU AGREE THAT WE ARE ONLY LIABLE TO YOU FOR THE MINIMUM AMOUNT OF DAMAGES THAT THE LAW RESTRICTS OUR LIABILITY TO, IF SUCH A MINIMUM EXISTS.</p>

 

<p>YOU AGREE THAT WE ARE NOT RESPONSIBLE IN ANY WAY FOR DAMAGES CAUSED BY THIRD PARTIES WHO MAY USE OUR SERVICES, INCLUDING BUT NOT LIMITED TO PEOPLE WHO COMMIT INTELLECTUAL PROPERTY INFRINGEMENT, DEFAMATION, TORTIOUS INTERFERENCE WITH ECONOMIC RELATIONS, OR ANY OTHER ACTIONABLE CONDUCT TOWARDS YOU.</p>

 

<p>WE ARE NOT RESPONSIBLE FOR ANY FAILURE ON THE PART OF A PAYMENT PROCESSOR, INCLUDING PAYPAL OR THE CREDIT CARD COMPANY OR BANK THAT YOU USE TO FUND PAYPAL, TO DIRECT PAYMENTS TO THE CORRECT DESTINATION, OR ANY ACTIONS ON THEIR PART IN PLACING A HOLD ON YOUR FUNDS.</p>

 

<p>WE ARE NOT LIABLE FOR ANY FAILURE OF THE GOODS OR SERVICES OF OUR COMPANY OR A THIRD PARTY, INCLUDING ANY FAILURES OR DISRUPTIONS, UNTIMELY DELIVERY, SCHEDULED OR UNSCHEDULED, INTENTIONAL OR UNINTENTIONAL, ON OUR WEBSITE WHICH PREVENT ACCESS TO OUR WEBSITE TEMPORARILY OR PERMANENTLY.</p>

 

<p>THE PROVISION OF OUR SERVICE TO YOU IS CONTINGENT ON YOUR AGREEMENT WITH THIS AND ALL OTHER SECTIONS OF THIS AGREEMENT.  NOTHING IN THE PROVISIONS OF THIS “REPRESENTATIONS & WARRANTIES”  SECTION SHALL BE CONSTRUED TO LIMIT THE GENERALITY OF THE FIRST PARAGRAPH OF THIS SECTION.</p>


<p>For Jurisdictions that do not allow us to limit our liability: Notwithstanding any provision of these Terms, if your jurisdiction has provisions specific to waiver or liability that conflict with the above then our liability is limited to the smallest extent possible by law.  Specifically, in those jurisdictions not allowed, we do not disclaim liability for: (a) death or personal injury caused by its negligence or that of any of its officers, employees or agents; or (b) fraudulent misrepresentation; or (c) any liability which it is not lawful to exclude either now or in the future.</p>
 

<p>IF YOU ARE A RESIDENT OF A JURISDICTION THAT REQUIRES A SPECIFIC STATEMENT REGARDING RELEASE THEN THE FOLLOWING APPLIES.  FOR EXAMPLE, CALIFORNIA RESIDENTS MUST, AS A CONDITION OF THIS AGREEMENT, WAIVE THE APPLICABILITY OF CALIFORNIA CIVIL CODE SECTION 1542, WHICH STATES, “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR."  YOU HEREBY WAIVE THIS SECTION OF THE CALIFORNIA CIVIL CODE.  YOU HEREBY WAIVE ANY SIMILAR PROVISION IN LAW, REGULATION, OR CODE THAT HAS THE SAME INTENT OR EFFECT AS THE AFOREMENTIONED RELEASE.</p>

<h3>15.  Indemnity</h3>

<p>You agree to indemnify and hold us harmless for any claims by you or any third party which may arise from or relate to this Agreement or the provision of our service to you, including any damages caused by your use of our Site or acceptance of the offers contained on it.  You also agree that you have a duty to defend us against such claims and we may require you to pay for an attorney(s) of our choice in such cases.  You agree that this indemnity extends to requiring you to pay for our reasonable attorneys’ fees, court costs, and disbursements.  In the event of a claim such as one described in this paragraph, we may elect to settle with the party/parties making the claim, and you shall be liable for the damages as though we had proceeded with a trial.</p>

<h3>16.  Choice of Law</h3>

<p>This Agreement shall be governed by the laws in force in the State of California.  The offer and acceptance of this contract are deemed to have occurred in the State of California.</p>

<h3>17.  Forum of Dispute</h3>

<p>You agree that any dispute arising from or relating to this Agreement will be heard solely by a court of competent jurisdiction in the State of California.  Specifically, where the subject matter of a dispute is eligible for it, you agree that any disputes shall be heard solely within the lowest court of competent jurisdiction in the State of California (“Small Claims Court”).</p>

<p>If a dispute claims multiple claims and one or more of those claims would be eligible to be heard by the Small Claims Court, you agree not to bring the other claims against us and to instead proceed within the Small Claims Court.</p>

<p>If you would be entitled in a dispute to an amount exceeding the monetary jurisdiction of the Small Claims Court, you agree to waive your right to collect any damages in excess of the monetary jurisdiction and instead still bring your claim within the Small Claims Court.</p>

<p>You agree that if a dispute is eligible to be heard in Small Claims Court but you would be entitled to an additional or alternative remedy in a higher court, such as injunctive relief, you will waive your right to that remedy and still bring the dispute within the Small Claims Court.</p>

<p>If you bring a dispute in a manner other than in accordance with this section, you agree that we may move to have it dismissed, and that you will be responsible for our reasonable attorneys’ fees, court costs, and disbursements in doing so.</p>

<p>If you would otherwise be eligible to bring a dispute in the Small Claims Court except that you have already done so twice in the same year, you agree to bring the dispute in the next lowest court of competent jurisdiction and pay any additional expenses that YANAPANA incurs as a result of having to defend against your claim in a higher court.</p>

<p>You agree that the unsuccessful party in any dispute arising from or relating to this Agreement will be responsible for the reimbursement of the successful party’s reasonable attorneys’ fees, court costs, and disbursements.</p>

<h3>18.  Force Majeure</h3>

<p>You agree that we are not responsible to you for anything that we may otherwise be responsible for, if it is the result of events beyond our control, including, but not limited to, acts of God, war, insurrection, riots, terrorism, crime, labor shortages (including lawful and unlawful strikes), embargoes, postal disruption, communication disruption, unavailability of payment processors, failure or shortage of infrastructure, shortage of materials, or any other event beyond our control.</p>

<h3>19.  Severability</h3>

<p>In the event that a provision of this Agreement is found to be unlawful, conflicting with another provision of the Agreement, or otherwise unenforceable, the Agreement will remain in force as though it had been entered into without that unenforceable provision being included in it.</p>

<p>If two or more provisions of this Agreement are deemed to conflict with each other’s operation, YANAPANA shall have the sole right to elect which provision remains in force.</p>

<h3>20.  Non-Waiver</h3>

<p>YANAPANA reserves all rights afforded to us under this Agreement as well as under the provisions of any applicable law.  Our non-enforcement of any particular provision or provisions of this Agreement or any applicable law should not be construed as our waiver of the right to enforce that same provision under the same or different circumstances at any time in the future.</p>

<h3>21.  Termination & Cancellation</h3>

<p>We may terminate your access to our Site and Service at our discretion without explanation, though we will strive to provide a timely explanation in most cases.  Our liability for refunding you, if you have paid anything to us, will be limited to the amount you paid for goods or services which have not yet been and will not be delivered, except in cases where the termination or cancellation was due to your breach of this Agreement, in which case you agree that we are not required to provide any refund or other compensation whatsoever.</p>

<p>Under no circumstances, including termination or cancellation of our Service to you, will we be liable for any losses related to actions of other Users.</p>

<h3>22.  Assignment of Rights</h3>

<p>You may not assign your rights and/or obligations under this Agreement to any other party without our prior written consent.  We may assign our rights and/or obligations under this Agreement to any other party at our discretion.</p>

<h3>23.  Amendments</h3>

<p>We may amend this Agreement from time to time.  When we amend this Agreement, we will post the changes here.  You must read this page each time you use our Service and your continued use of our Service constitutes your acceptance of such changes.</p>

<h3>24.  California Users and Residents</h3>

<p>Pursuant to California Civil Code Section 1789.3, any questions about pricing, complaints, or inquiries about YANAPANA must be addressed to our agent for notice and sent via certified mail to: YANAPANA, LLC, PO Box 4050, Bellflower, California, 90707, United States.</p>

<p>Lastly, California users are also entitled to the following specific consumer rights notice: The Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs may be contacted in writing at 1625 North Market Blvd., Sacramento, CA 95834, or by telephone at (916) 445-1254 or (800) 952-5210.

<p>Last Modified:  August 12, 2013</p>
                
            </div>

        </section>
        <!--Mid Section Ends-->