<div style="margin:0;padding:0;background-color:#dee0e2" marginheight="0" marginwidth="0">
        <center>
            <table width="100%" height="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse:collapse;margin:0;padding:0;background-color:#dee0e2;min-height:100%!important;width:100%!important">
                <tbody><tr>
                    <td valign="top" align="center" style="border-collapse:collapse;margin:0;padding:20px;border-top:0;min-height:100%!important;width:100%!important">
                        
                        <table width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border:1px solid #bbbbbb">
                            <tbody><tr>
                                <td valign="top" align="center" style="border-collapse:collapse">
                                    
                                    <table width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;background-color:#f4f4f4;border-top:0;border-bottom:0">
                                        <tbody><tr>
                                            <td valign="top" style="padding-top:9px;border-collapse:collapse"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="border-collapse:collapse">

                <table width="366" border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                    <tbody><tr>

                        <td valign="top" style="padding-top:9px;padding-left:18px;padding-bottom:9px;padding-right:0;border-collapse:collapse;color:#808080;font-family:Helvetica;font-size:10px;line-height:150%;text-align:left">

                            Use this area to offer a short preview of your email's content.
                        </td>
                    </tr>
                </tbody></table>

                <table width="197" border="0" align="right" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                    <tbody><tr>

                        <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:0;border-collapse:collapse;color:#808080;font-family:Helvetica;font-size:10px;line-height:150%;text-align:left">

                            <a target="_blank" style="color:#606060;font-weight:normal;text-decoration:underline;word-wrap:break-word!important" href="http://us5.campaign-archive1.com/?u=34d479905576cbf2b84294e02&amp;id=11c1dad354&amp;e=">View this email in your browser</a>
                        </td>
                    </tr>
                </tbody></table>

            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="center" style="border-collapse:collapse">
                                    
                                    <table width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;background-color:#f4f4f4;border-top:0;border-bottom:0">
                                        <tbody><tr>
                                            <td valign="top" style="border-collapse:collapse"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" align="center" style="padding:9px;border-collapse:collapse">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
    <tbody><tr>
        <td align="right" style="padding-left:9px;padding-right:9px;border-collapse:collapse">
            <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                <tbody><tr>
                    <td valign="top" style="padding-top:9px;padding-right:9px;padding-left:9px;border-collapse:collapse">



                                <table border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                    <tbody><tr>
                                        <td valign="top" style="padding-right:10px;padding-bottom:9px;border-collapse:collapse">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="middle" align="left" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px;border-collapse:collapse">
                                                        <table width="" border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                            <tbody><tr>

                                                                    <td width="18" valign="middle" align="center" style="border-collapse:collapse">
                                                                        <a target="_blank" style="word-wrap:break-word!important" href="http://www.facebook.com/yanapanawear"><img width="24" height="24" style="display:block;border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none" src="http://cdn-images.mailchimp.com/icons/social-block/dark-facebook-128.png"></a>
                                                                    </td>


                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>




                                <table border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                    <tbody><tr>
                                        <td valign="top" style="padding-right:10px;padding-bottom:9px;border-collapse:collapse">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="middle" align="left" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px;border-collapse:collapse">
                                                        <table width="" border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                            <tbody><tr>

                                                                    <td width="18" valign="middle" align="center" style="border-collapse:collapse">
                                                                        <a target="_blank" style="word-wrap:break-word!important" href="http://www.twitter.com/yanapanawear"><img width="24" height="24" style="display:block;border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none" src="http://cdn-images.mailchimp.com/icons/social-block/dark-twitter-128.png"></a>
                                                                    </td>


                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>




                                <table border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                    <tbody><tr>
                                        <td valign="top" style="padding-right:10px;padding-bottom:9px;border-collapse:collapse">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="middle" align="left" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px;border-collapse:collapse">
                                                        <table width="" border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                            <tbody><tr>

                                                                    <td width="18" valign="middle" align="center" style="border-collapse:collapse">
                                                                        <a target="_blank" style="word-wrap:break-word!important" href="http://www.pinterest.com/yanapanawear"><img width="24" height="24" style="display:block;border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none" src="http://cdn-images.mailchimp.com/icons/social-block/dark-pinterest-128.png"></a>
                                                                    </td>


                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>




                                <table border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                    <tbody><tr>
                                        <td valign="top" style="padding-right:10px;padding-bottom:9px;border-collapse:collapse">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="middle" align="left" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px;border-collapse:collapse">
                                                        <table width="" border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                            <tbody><tr>

                                                                    <td width="18" valign="middle" align="center" style="border-collapse:collapse">
                                                                        <a target="_blank" style="word-wrap:break-word!important" href="http://yanapana.com"><img width="24" height="24" style="display:block;border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none" src="http://cdn-images.mailchimp.com/icons/social-block/dark-link-128.png"></a>
                                                                    </td>


                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>




                                <table border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                    <tbody><tr>
                                        <td valign="top" style="padding-right:0;padding-bottom:9px;border-collapse:collapse">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="middle" align="left" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px;border-collapse:collapse">
                                                        <table width="" border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                            <tbody><tr>

                                                                    <td width="18" valign="middle" align="center" style="border-collapse:collapse">
                                                                        <a target="_blank" style="word-wrap:break-word!important" href="http://www.youtube.com/yanapanawear"><img width="24" height="24" style="display:block;border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none" src="http://cdn-images.mailchimp.com/icons/social-block/dark-youtube-128.png"></a>
                                                                    </td>


                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>


                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>

            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="center" style="border-collapse:collapse">
                                    
                                    <table width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;background-color:#f4f4f4;border-top:0px none;border-bottom:1px dashed #cccccc">
                                        <tbody><tr>
                                            <td valign="top" style="border-collapse:collapse"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="border-collapse:collapse">

                <table width="600" border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                    <tbody><tr>

                        <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;border-collapse:collapse;color:#505050;font-family:Helvetica;font-size:14px;line-height:150%;text-align:left">

                            <h1 style="display:block;font-family:Helvetica;font-size:26px;font-style:normal;font-weight:bold;line-height:100%;letter-spacing:normal;margin:0;text-align:left;color:#202020!important">
    PURCHASE CONFIRMATION</h1>
<br>
<h3 style="display:block;font-family:Helvetica;font-size:16px;font-style:italic;font-weight:normal;line-height:100%;letter-spacing:normal;margin:0;text-align:left;color:#606060!important">
    You are awesome Eduardo!</h3>
<p>
    Thanks for your support! We appreciate it and so does our charity partner. We<br>
    will print and ship your order as soon as this week’s campaign is over.<br>
    <br>
    You will also receive a shipping confirmation email as soon as your order leaves<br>
    our facility.<br>
    <br>
    In the meantime, do not hesitate to spread the good news about your great act<br>
    and this week’s amazing cause with your friends and family.<br>
    <br>
    Love,<br>
    <br>
    The YANAPANA Team</p>
<p>
    Need inspiration for your design? <a target="_blank" style="color:#eb4102;font-weight:normal;text-decoration:underline;word-wrap:break-word!important" href="http://inspiration.mailchimp.com">Here’s what other MailChimp users are doing.</a></p>

                        </td>
                    </tr>
                </tbody></table>

            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="center" style="border-collapse:collapse">
                                    
                                    <table width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;background-color:#f4f4f4;border-top:0;border-bottom:1px none #cccccc">
                                        <tbody><tr>
                                            <td width="33%" valign="top" align="left" style="border-collapse:collapse">
                                                <table width="100%" border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                    <tbody><tr>
                                                        <td valign="top" style="border-collapse:collapse"></td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                            <td width="33%" valign="top" align="left" style="border-collapse:collapse">
                                                <table width="100%" border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                    <tbody><tr>
                                                        <td valign="top" style="border-collapse:collapse"></td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                            <td width="33%" valign="top" align="left" style="border-collapse:collapse">
                                                <table width="100%" border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                    <tbody><tr>
                                                        <td valign="top" style="border-collapse:collapse"></td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="center" style="border-collapse:collapse">
                                    
                                    <table width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;background-color:#333333;border-top:0;border-bottom:0">
                                        <tbody><tr>
                                            <td valign="top" style="padding-bottom:9px;border-collapse:collapse"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
    <tbody>
            <tr>
                <td valign="top" style="padding:9px;border-collapse:collapse">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
    <tbody><tr>
        <td align="left" style="padding-top:9px;padding-left:9px;padding-bottom:0;padding-right:9px;border-collapse:collapse">
            <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                <tbody><tr>
                    <td valign="top" style="border-collapse:collapse">

                            <table border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                <tbody><tr>
                                    <td valign="top" style="padding-right:10px;padding-bottom:9px;border-collapse:collapse">
                                        <table width="" border="0" cellspacing="0" cellpadding="0" style="border-collapse:separate;background-color:#ffffff;border:1px solid #cccccc;border-radius:5px">
                                            <tbody><tr>
                                                <td valign="middle" align="left" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px;border-collapse:collapse">
                                                    <table width="" border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                        <tbody><tr>
                                                            <td width="18" valign="middle" align="center" style="border-collapse:collapse">
                                                                <a target="_blank" style="word-wrap:break-word!important" href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fus5.campaign-archive1.com%2F%3Fu%3D34d479905576cbf2b84294e02%26id%3D11c1dad354&amp;t=TEST+Yanapana+newsletter"><img width="18" height="18" style="display:block;border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none" src="http://cdn-images.mailchimp.com/icons/social-block/dark-facebook-128.png"></a>
                                                            </td>
                                                            <td valign="middle" align="left" style="padding-left:5px;border-collapse:collapse">
                                                                <a target="_blank" style="color:#505050;font-family:Arial;font-size:12px;text-decoration:none;font-weight:normal;line-height:100%;word-wrap:break-word!important" href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fus5.campaign-archive1.com%2F%3Fu%3D34d479905576cbf2b84294e02%26id%3D11c1dad354&amp;t=TEST+Yanapana+newsletter">Share</a>
                                                            </td>
                                                        </tr>
                                                    </tbody></table>
                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>
                            </tbody></table>

                            <table border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                <tbody><tr>
                                    <td valign="top" style="padding-right:10px;padding-bottom:9px;border-collapse:collapse">
                                        <table width="" border="0" cellspacing="0" cellpadding="0" style="border-collapse:separate;background-color:#ffffff;border:1px solid #cccccc;border-radius:5px">
                                            <tbody><tr>
                                                <td valign="middle" align="left" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px;border-collapse:collapse">
                                                    <table width="" border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                        <tbody><tr>
                                                            <td width="18" valign="middle" align="center" style="border-collapse:collapse">
                                                                <a target="_blank" style="word-wrap:break-word!important" href="http://twitter.com/?status=TEST+Yanapana+newsletter:%20http%3A%2F%2Fus5.campaign-archive1.com%2F%3Fu%3D34d479905576cbf2b84294e02%26id%3D11c1dad354"><img width="18" height="18" style="display:block;border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none" src="http://cdn-images.mailchimp.com/icons/social-block/dark-twitter-128.png"></a>
                                                            </td>
                                                            <td valign="middle" align="left" style="padding-left:5px;border-collapse:collapse">
                                                                <a target="_blank" style="color:#505050;font-family:Arial;font-size:12px;text-decoration:none;font-weight:normal;line-height:100%;word-wrap:break-word!important" href="http://twitter.com/?status=TEST+Yanapana+newsletter:%20http%3A%2F%2Fus5.campaign-archive1.com%2F%3Fu%3D34d479905576cbf2b84294e02%26id%3D11c1dad354">Tweet</a>
                                                            </td>
                                                        </tr>
                                                    </tbody></table>
                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>
                            </tbody></table>

                            <table border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                <tbody><tr>
                                    <td valign="top" style="padding-right:0;padding-bottom:9px;border-collapse:collapse">
                                        <table width="" border="0" cellspacing="0" cellpadding="0" style="border-collapse:separate;background-color:#ffffff;border:1px solid #cccccc;border-radius:5px">
                                            <tbody><tr>
                                                <td valign="middle" align="left" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px;border-collapse:collapse">
                                                    <table width="" border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                        <tbody><tr>
                                                            <td width="18" valign="middle" align="center" style="border-collapse:collapse">
                                                                <a target="_blank" style="word-wrap:break-word!important" href="http://us5.forward-to-friend.com/forward?u=34d479905576cbf2b84294e02&amp;id=11c1dad354&amp;e="><img width="18" height="18" style="display:block;border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none" src="http://cdn-images.mailchimp.com/icons/social-block/dark-forwardtofriend-128.png"></a>
                                                            </td>
                                                            <td valign="middle" align="left" style="padding-left:5px;border-collapse:collapse">
                                                                <a target="_blank" style="color:#505050;font-family:Arial;font-size:12px;text-decoration:none;font-weight:normal;line-height:100%;word-wrap:break-word!important" href="http://us5.forward-to-friend.com/forward?u=34d479905576cbf2b84294e02&amp;id=11c1dad354&amp;e=">Forward to Friend</a>
                                                            </td>
                                                        </tr>
                                                    </tbody></table>
                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>
                            </tbody></table>

                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>

                </td>
            </tr>
    </tbody>
</table><table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="border-collapse:collapse">

                <table width="600" border="0" align="left" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                    <tbody><tr>

                        <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;border-collapse:collapse;color:#ffffff;font-family:Helvetica;font-size:10px;line-height:150%;text-align:left">

                            <em>Copyright &copy; 2013 YANAPANA, All rights reserved.</em><br>
 You are receiving this email because you opted in at our website<br>
<br>
<strong>Our mailing address is:</strong><br>
<div><span>YANAPANA</span><div><div>11149 Broaded Street</div><span>Santa Fe Springs</span>, <span>CA</span>  <span>90670</span></div><br><a target="_blank" href="http://yanapana.us5.list-manage.com/vcard?u=34d479905576cbf2b84294e02&amp;id=9019357bbf">Add us to your address book</a></div>
 <a target="_blank" style="color:#ffffff;font-weight:normal;text-decoration:underline;word-wrap:break-word!important" href="http://yanapana.us5.list-manage.com/unsubscribe?u=34d479905576cbf2b84294e02&amp;id=9019357bbf&amp;e=&amp;c=11c1dad354">unsubscribe from this list</a>&nbsp;&nbsp;&nbsp; <a target="_blank" style="color:#ffffff;font-weight:normal;text-decoration:underline;word-wrap:break-word!important" href="http://yanapana.us5.list-manage.com/profile?u=34d479905576cbf2b84294e02&amp;id=9019357bbf&amp;e=">update subscription preferences</a>&nbsp;<br>
<br>
 <a target="_blank" href="http://www.mailchimp.com/monkey-rewards/?utm_source=freemium_newsletter&amp;utm_medium=email&amp;utm_campaign=monkey_rewards&amp;aid=34d479905576cbf2b84294e02&amp;afl=1"><img width="139" height="54" border="0" title="MailChimp Email Marketing" alt="Email Marketing Powered by MailChimp" src="http://cdn-images.mailchimp.com/monkey_rewards/MC_MonkeyReward_15.png"></a>
                        </td>
                    </tr>
                </tbody></table>

            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                        </tbody></table>
                        
                    </td>
                </tr>
            </tbody></table>
        </center><div class="yj6qo"></div><div class="adL">
    </div></div>