<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Yanapana</title>
<!--CSS-->
<link rel="stylesheet" href="css/styles_landing.css"/>
<link rel="stylesheet" href="css/short_codes.css"/>
<link rel="stylesheet" href="css/dropkick.css" />
<link rel="stylesheet" href="css/flexslider.css" type="text/css">


<!--Google Webfont -->
<link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
<!--Javascript-->
<script type="text/javascript" src="js/jquery-1.7.2.min.js" ></script>
<script src="js/jquery.flexslider.js"></script>
<script type="text/javascript" src="//use.typekit.net/xxr3kft.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript" src="//www.hellobar.com/hellobar.js"></script>
<script type="text/javascript">
    new HelloBar(51289,85992);
</script>
<script type="text/javascript" src="js/jquery.dropkick-1.0.0.js"></script>
        <script> $(document).ready(function()
        {
            $("#styled-select").dropkick();
        });  
        </script>

<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $(".flexslider").flexslider();
  });
</script>



<!-- mobile setting -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    
    
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div class="section">
            <div class="logo fl"> <a href="index.html"><img src="images/logo_header_inverted.png" /></a></div>
            <ul>
                <li class="fl"><a class="facebook" href="#"></a></li>
                <li class="fl"><a class="twitter" href="#"></a></li>
                <li class="fl"><a class="pinterest" href="#"></a></li>
            </ul>
        </div>
    </div>
    

<div class="flexslider_container">
<div class="flexslider">
  <ul class="slides">
    <li>
      <img src="images/banner_landing1.jpg" />
      <div class="slider-text">
        <h1>Fashion with purpose</h1>
            <h2>A part of each purpose is donated to non-profit organizations working for the empowerment of women.</h2>    
        </div>
    </li>
    <li>
      <img src="images/banner_landing2.jpg" />
      <div class="slider-text">
        <h1>Solidarity</h1>
            <h2>Every week we feature new cause-inspired artist-designed apparel which becomes available for one full week on our website. From every unit of apparel sold, $8 will be donated to the featured charity.</h2>    
        </div>
    </li>
    <li>
      <img src="images/banner_landing3.jpg" />
      <div class="slider-text">
        <h1>Fashion</h1>
            <h2>Every week we feature new cause-inspired artist-designed apparel which becomes available for one full week on our website. From every unit of apparel sold, $8 will be donated to the featured charity.</h2>    
        </div>
    </li>
  </ul>
</div>
</div>

    
    <div id="how">
        
    </div>
    
    
    
    <div id="benefits">
        <div class="section">
            
           
                <ul>
                    <li class="threecol fl">
                        <div class="icon world"></div>
                        <h2>Awesome People </h2>
                        <p>Psst! Once we launch we will give away one free iPad mini and 20 free T-shirts.  You might want to register... just saying...</p>
                    </li>
                    <li class="threecol fl">
                        <div class="icon person"></div>
                        <h2>Amazing Artists</h2>
                        <p>We can help you expose your artwork through printed apparel to the world... and even earn some cash!
The question is... are you talented enough? Let the world and our judges decide!</p>
                    </li>
                    <li class="threecol fl">
                        <div class="icon heart"></div>
                        <h2>Incredible Organizations</h2>
                        <p>We can help your charitable organization raise awareness and funds by reaching new audiences... at no charge to you of course!</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="subscribe">
        <div class="section">
            <h2>I want to learn more!</h2>
            <div class="subscription_container">
                <div class="twocol fr">
                    <h3>Get in the loop now or be left behind!</h3>
                        
                        <select id="styled-select" name="ocupation" tabindex="1">
                <option >Tell us who you are?</option>  
                <option id="artist">Awesome Person</option>
                <option id="df" >Amazing Artist</option>
                <option id="morelia">Incredible Organization</option>

            </select>
                        <div id="input-style">
                            <input class="fl"type="text" autocomplete="on" placeholder="Email">
                        <h3 class="ir sc-button light-blue">Go!</h3>
                        </div>
                      
                </div>
                <div class="twocol fl">
                    <h3>What you get</h3>
                            <ul>
                                <li class="star_icon"><span>Awesome People:</span><p>Register for a chance to win free gifts! Like us on <a href="#">facebook</a> and follow us on <a href="#">twitter</a> to stay updated about our moves.</p></li>
                                <li class="star_icon"><span>Amazing Artists:</span><p>Register or email us at artist@yanapana.com to request information.</p></li>
                                <li class="star_icon"><span>Incredible Organization:</span><p>Register or email us at partner@yanapana.com to request information.</p></li>
                            </ul>
                </div>
            </div>
        </div>
    </div>
    
<!--
    <div id="footer">
        <div class="section">
            
        </div> 
    </div>
</div>
-->

</body>


</html>