<div class="section_container jean pb">
  <section>
    <div class="full_page">
      <ul class="breadcrumb">
	 <li><%= link_to "Home", root_path %></li>
	 <li class="active">login</li>
      </ul>
  <% if flash[:alert] %>
    <div class="flash errors"><% flash[:alert] %></div>
  <% end %>

  <% @body_id = 'login' %>
  <div class="one-half" id="existing-customer">
    <h3><%= t(:login_as_an_artist) %></h3>
    <p>I am an artist working with YANAPANA.</p>
    <div data-hook="login">
      <%= render :partial => 'spree/shared/login' %>
      <%= link_to t(:forgot_password), spree.new_user_password_path %>
    </div>
  </div>
  <div data-hook="login_extras"></div>
  </div>
  </section>
</div>
